<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Your
        <a class="govuk-link" href="https://docs.google.com/forms/d/e/1FAIpQLScfhcgi1FkjRhJyIHfubi0VyUaIfB1iaGVSv3g4WjOtJV0Erw/viewform">feedback</a>
        will help us to improve it.
    </span>
  </p>
</div>
