# Acceptable Goods Descriptions

<table>
  <thead>
    <tr>
      <th>Unacceptable goods description</th>
      <th>Acceptable goods description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Accessories</td>
      <td>Bathroom fittings, Lighting and electrical accessories </td>
    </tr>
    <tr>
      <td>Adapter</td>
      <td>(See other specific example in the table)</td>
    </tr>
    <tr>
      <td>Agricultural products </td>
      <td>Oranges, Fish, Rice, Bread </td>
    </tr>
    <tr>
      <td>Aid consignment </td>
      <td>Blankets, Medications </td>
    </tr>
    <tr>
      <td>Alcohol </td>
      <td>Denatured industrial ethyl alcohol, undenatured industrial ethyl alcohol of an alcoholic strength by volume of 80 % vol., Whiskey, Rum </td>
    </tr>
    <tr>
      <td>All kind of Cargo </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>All kind of Goods </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>Animals </td>
      <td>Horse, Poultry, Bovine </td>
    </tr>
    <tr>
      <td>Apparel </td>
      <td>Men's Shirts, Lingerie, Girls' Vests, Boys&#x2019; Jackets </td>
    </tr>
    <tr>
      <td>Appliances </td>
      <td>Refrigerator, Stove, Microwave Oven, Coffee Machines </td>
    </tr>
    <tr>
      <td>Arms </td>
      <td>Daggers, Machine guns </td>
    </tr>
    <tr>
      <td>Articles </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>Artwork </td>
      <td>(Specify which type of Artwork: Bust, picture, bronze sculpture) </td>
    </tr>
    <tr>
      <td>As ordered [&#x2026;] </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>As per attached [invoice] </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>Attached [manifest] </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>Auto </td>
      <td>Ford Fiesta, VW Polo </td>
    </tr>
    <tr>
      <td>Auto Parts </td>
      <td>Automobile Brakes, Windshield Glass for Automobiles </td>
    </tr>
    <tr>
      <td>Automobiles </td>
      <td>Ford Fiesta, VW Polo </td>
    </tr>
    <tr>
      <td>AWB/ HAWB </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>Baggage </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>Bags (or other types of packaging </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>Lithium batteries</td>
    </tr>
    <tr>
      <td>Bazaar goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Biological Substances</td>
      <td>(See chemicals or other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Birthday gifts</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Bits</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Boards</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Box</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Cables</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Cars</td>
      <td>Ford Fiesta, VW Polo</td>
    </tr>
    <tr>
      <td>Case</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Caps </td>
      <td>Plastic Caps</td>
    </tr>
    <tr>
      <td>Cartons, CTN</td>
      <td>New packaging made of carton, Cartons to be recycled, A4 print paper packaged in cartons</td>
    </tr>
    <tr>
      <td>Charity</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Chemicals</td>
      <td>The name mentioned in the ECICS database or the actual Chemicals name (not brand name)  </td>
    </tr>
    <tr>
      <td>Chemicals, flammable</td>
      <td>The name mentioned in the ECICS database or the actual Chemicals name (not brand name)  </td>
    </tr>
    <tr>
      <td>Chemicals, hazardous </td>
      <td>The name mentioned in the ECICS database or the actual Chemicals name (not brand name)  </td>
    </tr>
    <tr>
      <td>Chemicals, nonHazardous </td>
      <td>The name mentioned in the ECICS database or the actual Chemicals name (not brand name)  </td>
    </tr>
    <tr>
      <td>Cleaning products </td>
      <td>Detergents</td>
    </tr>
    <tr>
      <td>Clothes</td>
      <td>Men's Shirts, Lingerie, Girls' Vests, Boys',Jackets</td>
    </tr>
    <tr>
      <td>Clothing</td>
      <td>Men's Shirts, Lingerie, Girls' Vests, Boys',Jackets</td>
    </tr>
    <tr>
      <td>Collected items</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Commodity</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Company names</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Component</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Consol, CON, CNSL</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Consolidated cargo</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Consolidated goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Consolidated </td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Consolidation</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Consumer</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Courier</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Courier bags</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Courier goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Courier material</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Dangerous goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Decorative crafts</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Decorative items</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Decorations</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Didactic articles  </td>
      <td>Pencils, Smartboards, Books</td>
    </tr>
    <tr>
      <td>Documents,</td>
      <td>Passports (or any other kind of documents)</td>
    </tr>
    <tr>
      <td>Documentations,</td>
      <td>No data</td>
    </tr>
    <tr>
      <td>Docs, Dox</td>
      <td>No data</td>
    </tr>
    <tr>
      <td>Drugs</td>
      <td>Cough syrup, insulin doses, seasonal flu vaccine (preferably INN name for a pure substance)</td>
    </tr>
    <tr>
      <td>Drums ('Drums&#x201D; is acceptable where it refers to musical instruments )</td>
      <td>Empty plastic barrels for packaging, Liquid hand soap transported in drums</td>
    </tr>
    <tr>
      <td>e-Commerce</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Electronic equipment</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Electronic goods</td>
      <td>Computers, Televisions, CD Players, Walkmans, Tape Record, Mobile Phones, Monitors, Printers</td>
    </tr>
    <tr>
      <td>Electronic items</td>
      <td>Computers, Televisions, CD Players, Walkmans, Tape Record, Mobile Phones, Monitors, Printers</td>
    </tr>
    <tr>
      <td>Electronics </td>
      <td>Computers, Televisions, CD Players, Walkmans, Tape Record, Mobile Phones, Monitors, Printers</td>
    </tr>
    <tr>
      <td>Equipment, EQP</td>
      <td>Oil Well Equipment, Poultry equipment</td>
    </tr>
    <tr>
      <td>Exhibition goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Express</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Firearm</td>
      <td>Machine guns, Guns, Pistols</td>
    </tr>
    <tr>
      <td>Fish</td>
      <td>European Hake, Swordfish, Lobsters, Tuna</td>
    </tr>
    <tr>
      <td>Food</td>
      <td>Prepared cakes, Rice, Tomatoes sauce, Powdered eggs</td>
    </tr>
    <tr>
      <td>Foodstuff </td>
      <td>Beverages (See other  examples for "Agricultural products")</td>
    </tr>
    <tr>
      <td>Footwear</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Freight All Kinds</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Fresh Fruit</td>
      <td>Apples, Apricots, Bananas, Pineapples</td>
    </tr>
    <tr>
      <td>Fresh Herbs</td>
      <td>Basil, Thyme, Parsley</td>
    </tr>
    <tr>
      <td>Fresh Plants</td>
      <td>Lavandula angustifolia, Rosmarinus officinalis, Prunus avium</td>
    </tr>
    <tr>
      <td>Fresh Vegetable</td>
      <td>Broccoli, Tomatoes, Onions, Eggplants</td>
    </tr>
    <tr>
      <td>From UPU Postal</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Fruit</td>
      <td>Oranges, Pears, Bananas, Apples, Strawberries</td>
    </tr>
    <tr>
      <td>Fruit products</td>
      <td>Apricot pulp, Apple pulp, Mixed fruits pulp</td>
    </tr>
    <tr>
      <td>Fruit Pulp</td>
      <td>Apricot pulp, Apple pulp, Mixed fruits pulp</td>
    </tr>
    <tr>
      <td>Fuel</td>
      <td>Diesel fuel, Petrol, Gasoline</td>
    </tr>
    <tr>
      <td>Garments</td>
      <td>Cotton T-shirts, Silk headscarves</td>
    </tr>
    <tr>
      <td>General cargo </td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>General goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>General merchandise</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Gift box</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Gifts</td>
      <td>Dolls, Remote Control cars (describe type of gifts)</td>
    </tr>
    <tr>
      <td>Gizmos</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Glass</td>
      <td>Glass panel for windows, Glass blocks</td>
    </tr>
    <tr>
      <td>Goods, GDS</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Granulate</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Handcraft</td>
      <td>(Describe which type of Handicrafts -Vases, dishes, Necklaces, chairs-)</td>
    </tr>
    <tr>
      <td>Handicraft</td>
      <td>(Describe which type of Handicrafts -Vases, dishes, Necklaces, chairs-)</td>
    </tr>
    <tr>
      <td>Handling codes</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Hardware for gift</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Herbs</td>
      <td>Basil, Thyme, Parsley</td>
    </tr>
    <tr>
      <td>Home goods</td>
      <td>Plates, Dishes, Tableware, ( See also examples for "Appliances")</td>
    </tr>
    <tr>
      <td>Household goods </td>
      <td>Plates, Dishes, Tableware, ( See also examples for "Appliances")</td>
    </tr>
    <tr>
      <td>Invoice</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>I.T. goods </td>
      <td>(See examples for "Electronics")</td>
    </tr>
    <tr>
      <td>Industrial products </td>
      <td>(See examples for "Electronics")</td>
    </tr>
    <tr>
      <td>Instruments</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Iron, Steel </td>
      <td>Iron Pipes, Steel Pipes, Iron Building Material, Steel Building Material</td>
    </tr>
    <tr>
      <td>Iso Tanks</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Jewellery, Jewelry</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Jewels</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Joint shipping</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Label</td>
      <td>Paper printed A4 labels, Plastic labels</td>
    </tr>
    <tr>
      <td>Leather Articles </td>
      <td>Saddles, Leather Handbags, Leather Jackets</td>
    </tr>
    <tr>
      <td>Line</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Likewise</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Liquids, Fluids</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Live Animals</td>
      <td>Dogs (Labrador retriever), Cows (Aberdeen angus)</td>
    </tr>
    <tr>
      <td>Live plants</td>
      <td>Lavandula angustifolia, Rosmarinus officinalis, Prunus avium</td>
    </tr>
    <tr>
      <td>Machine parts </td>
      <td>Pump, Seals, Engines</td>
    </tr>
    <tr>
      <td>Machinery </td>
      <td>Metal Working Machinery, Cigarette Making Machinery, Sewing Machines, Printing Machines</td>
    </tr>
    <tr>
      <td>Machines</td>
      <td>( See Examples for "Machinery")</td>
    </tr>
    <tr>
      <td>Mail</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Materials</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>MDF</td>
      <td>MDF boards, wooden chipboard for MDF</td>
    </tr>
    <tr>
      <td>Meat</td>
      <td>Poultry meat, Beef meat, Pork meat, Lamb meat</td>
    </tr>
    <tr>
      <td>Medical equipment</td>
      <td>Band aids, Medical ventilator, blood sampling syringes</td>
    </tr>
    <tr>
      <td>Medicines</td>
      <td>Antiviral sprays, Viagra pills,  Painkillers, Anti-inflammatories, Mucolytic (preferably INN name for a pure substance)</td>
    </tr>
    <tr>
      <td>Merchandise, Merc.</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Metal</td>
      <td>Iron scrap, Steel tubes, Aluminium wire</td>
    </tr>
    <tr>
      <td>Miscellaneous products, Misc, Mixed, Mix</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Model</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>None</td>
      <td>(Describe  type of goods)</td>
    </tr>
    <tr>
      <td>Non-Woven</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Odd parts</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Oil </td>
      <td>Mineral oil, lubricating oil, vegetable oil, palm oil</td>
    </tr>
    <tr>
      <td>Ore </td>
      <td>Iron Ore, Copper Ore</td>
    </tr>
    <tr>
      <td>Others</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Pad</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Package numbers</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Pallets, PLT</td>
      <td>Empty wooden pallets, Empty steel pallets for airfreight</td>
    </tr>
    <tr>
      <td>Parcel</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Party accessories</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Parts </td>
      <td>(See Examples for "Machine parts")</td>
    </tr>
    <tr>
      <td>Perishables</td>
      <td>Broccoli, Tomatoes, Chicken breasts</td>
    </tr>
    <tr>
      <td>Personal address</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Personal effects </td>
      <td>(See Examples in the Table)</td>
    </tr>
    <tr>
      <td>Pharmaceutical</td>
      <td>Cough syrup, insulin doses, seasonal flu vaccine (preferably INN name for a pure substance)</td>
    </tr>
    <tr>
      <td>Pieces, pces</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Pipes </td>
      <td>Plastic Pipes, Steel Pipes, Copper Pipes</td>
    </tr>
    <tr>
      <td>Plants </td>
      <td>Cut Christmas trees, Tulips bulbs, fresh Lavandula angustifolia in pots, cuttings of rosemary in pots</td>
    </tr>
    <tr>
      <td>Plastic Goods </td>
      <td>Plastic Kitchenware, Plastic House Ware</td>
    </tr>
    <tr>
      <td>Plates</td>
      <td>Vehicle registration plates, Iron plates</td>
    </tr>
    <tr>
      <td>Polyurethane</td>
      <td>Polyurethane Threads, Polyurethane Medical Gloves</td>
    </tr>
    <tr>
      <td>Powder</td>
      <td>Wheat flour type 00, Industrial icing sugar, Iron powder</td>
    </tr>
    <tr>
      <td>Pre-addressed parcel</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Printed material</td>
      <td>Paper labels with logo, Printed plastic fabric in rolls</td>
    </tr>
    <tr>
      <td>Private things</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Produce</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Products</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Propellant </td>
      <td>(See Examples for Chemicals)</td>
    </tr>
    <tr>
      <td>PVC items</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Quilts</td>
      <td>Cotton quilts (beddings)</td>
    </tr>
    <tr>
      <td>Raw material</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Returned goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Rod </td>
      <td>Welding Rod, Fuel Rod, Copper Rod</td>
    </tr>
    <tr>
      <td>Rubber Articles </td>
      <td>Rubber Hisses, Rubber Conveyor Belts</td>
    </tr>
    <tr>
      <td>Said to Contain</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Sample</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Samples for analysis</td>
      <td>Blood sample for analysis, Salt (sodium chloride) for analysis</td>
    </tr>
    <tr>
      <td>Sanitary goods </td>
      <td>Towels, Buckets, Detergents, Tooth brushes</td>
    </tr>
    <tr>
      <td>Scrap </td>
      <td>Plastic Scrap, Foam Scrap, Iron Scrap</td>
    </tr>
    <tr>
      <td>See [invoice]</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>See attached invoice</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Several</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Several goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Shoes</td>
      <td>Men leather shoes, Women plastic sandals, Kids fabric shoes</td>
    </tr>
    <tr>
      <td>Snickers</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Souvenirs</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Spare</td>
      <td>(See Examples for "Machine parts")</td>
    </tr>
    <tr>
      <td>Spare parts, SPPT</td>
      <td>(See Examples for "Machine parts")</td>
    </tr>
    <tr>
      <td>Sporting Goods</td>
      <td>Football shoes, boxing gloves, surf board</td>
    </tr>
    <tr>
      <td>Stuff</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Substance</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Tablet accessories</td>
      <td>Plastic cases for tablets, Chargers for tablets</td>
    </tr>
    <tr>
      <td>Tablets</td>
      <td>iPad, Tablets Samsung</td>
    </tr>
    <tr>
      <td>Technology</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Test</td>
      <td>COVID-19 Quick tests, Leather shoes (sample), Recycled toilet paper (test shipment) </td>
    </tr>
    <tr>
      <td>Textile goods</td>
      <td>Cotton fabric in rolls, Polyester curtains, Cotton sheets</td>
    </tr>
    <tr>
      <td>Textiles </td>
      <td>Linen Fabric, T-shirts (See Examples for "Apparel)</td>
    </tr>
    <tr>
      <td>Things</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Tires</td>
      <td>New car tires</td>
    </tr>
    <tr>
      <td>Tools </td>
      <td>Hand Tools, Electric Tools</td>
    </tr>
    <tr>
      <td>Toys </td>
      <td>(See Examples for "Gifts")  </td>
    </tr>
    <tr>
      <td>Tubing</td>
      <td>Copper tubes, Iron tubes</td>
    </tr>
    <tr>
      <td>Uniform</td>
      <td>Men's Shirts, Lingerie, Girls' Vests, Boys' Jackets</td>
    </tr>
    <tr>
      <td>Vaccine</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Various</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Various goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Various products </td>
      <td>(See other specific examples in the Table)</td>
    </tr>
    <tr>
      <td>Vegetables</td>
      <td>Broccoli, Tomatoes, Onions, Eggplants</td>
    </tr>
    <tr>
      <td>Vehicles </td>
      <td>(See other specific examples in the table) </td>
    </tr>
    <tr>
      <td>Waste</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Weapons </td>
      <td>Daggers, Machine guns</td>
    </tr>
    <tr>
      <td>Wearing apparel</td>
      <td>Men's Shirts, Lingerie, Girls' Vests, Boys' Jackets</td>
    </tr>
    <tr>
      <td>White goods</td>
      <td>(See other specific examples in the table)</td>
    </tr>
    <tr>
      <td>Wires </td>
      <td>Iron and Steel Wire, Copper Wire</td>
    </tr>
    <tr>
      <td>Wooden articles </td>
      <td>Wooden furniture, Wooden kitchen utensils</td>
    </tr>
  </tbody>
</table>
