# Additional Information

<table>
  <thead>
    <tr>
      <th>Additional Information ID</th>
      <th title="Field #2">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>100</td>
      <td>Simplified authorisation</td>
    </tr>
    <tr>
      <td>10600</td>
      <td>Negotiable Bill of lading 'to order blank endorsed'</td>
    </tr>
    <tr>
      <td>30300</td>
      <td>Export Id</td>
    </tr>
    <tr>
      <td>30600</td>
      <td>In EXS, where negotiable bills of lading 'to order blank endorsed' are concerned and the consignee particulars are unknown</td>
    </tr>
    <tr>
      <td>DG0</td>
      <td>Export subject to restriction</td>
    </tr>
    <tr>
      <td>DG1</td>
      <td>Export subject to duties</td>
    </tr>
    <tr>
      <td>DG2</td>
      <td>Export</td>
    </tr>
  </tbody>
</table>
