# Country Codes

<table>
  <thead>
    <tr>
      <th>Country Code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AD</td>
      <td>Andorra</td>
    </tr>
    <tr>
      <td>AE</td>
      <td>United Arab Emirates</td>
    </tr>
    <tr>
      <td>AF</td>
      <td>Afghanistan</td>
    </tr>
    <tr>
      <td>AG</td>
      <td>Antigua and Barbuda</td>
    </tr>
    <tr>
      <td>AI</td>
      <td>Anguilla</td>
    </tr>
    <tr>
      <td>AL</td>
      <td>Albania</td>
    </tr>
    <tr>
      <td>AM</td>
      <td>Armenia</td>
    </tr>
    <tr>
      <td>AO</td>
      <td>Angola</td>
    </tr>
    <tr>
      <td>AQ</td>
      <td>Antarctica</td>
    </tr>
    <tr>
      <td>AR</td>
      <td>Argentina</td>
    </tr>
    <tr>
      <td>AS</td>
      <td>American Samoa</td>
    </tr>
    <tr>
      <td>AT </td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>AU</td>
      <td>Australia</td>
    </tr>
    <tr>
      <td>AW</td>
      <td>Aruba</td>
    </tr>
    <tr>
      <td>AX</td>
      <td>Aland Islands</td>
    </tr>
    <tr>
      <td>AZ</td>
      <td>Azerbaijan</td>
    </tr>
    <tr>
      <td>BA</td>
      <td>Bosnia and Herzegovina</td>
    </tr>
    <tr>
      <td>BB</td>
      <td>Barbados</td>
    </tr>
    <tr>
      <td>BD</td>
      <td>Bangladesh</td>
    </tr>
    <tr>
      <td>BE</td>
      <td>Belgium</td>
    </tr>
    <tr>
      <td>BF</td>
      <td>Burkina Faso</td>
    </tr>
    <tr>
      <td>BG</td>
      <td>Bulgaria</td>
    </tr>
    <tr>
      <td>BH</td>
      <td>Bahrain</td>
    </tr>
    <tr>
      <td>BI</td>
      <td>Burundi</td>
    </tr>
    <tr>
      <td>BJ</td>
      <td> Benin</td>
    </tr>
    <tr>
      <td>BL</td>
      <td>Saint Barth&#xE9;lemy</td>
    </tr>
    <tr>
      <td>BM</td>
      <td>Bermuda</td>
    </tr>
    <tr>
      <td>BN</td>
      <td>Brunei Darussalam</td>
    </tr>
    <tr>
      <td>BO</td>
      <td>Bolivia, (Plurinational State of)</td>
    </tr>
    <tr>
      <td>BQ</td>
      <td>Bonaire, Sint Eustatius and Saba</td>
    </tr>
    <tr>
      <td>BR</td>
      <td>Brazil</td>
    </tr>
    <tr>
      <td>BS</td>
      <td>Bahamas (the)</td>
    </tr>
    <tr>
      <td>BT </td>
      <td>Bhutan</td>
    </tr>
    <tr>
      <td>BV</td>
      <td>Bouvet Island</td>
    </tr>
    <tr>
      <td>BW</td>
      <td>Botswana</td>
    </tr>
    <tr>
      <td>BY</td>
      <td>Belarus</td>
    </tr>
    <tr>
      <td>BZ</td>
      <td>Belize</td>
    </tr>
    <tr>
      <td>CA</td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>CC</td>
      <td>Cocos (Keeling) Islands (the)</td>
    </tr>
    <tr>
      <td>CD</td>
      <td>Congo, (the Democratic Republic of the)</td>
    </tr>
    <tr>
      <td>CF</td>
      <td>Central African Republic (the)</td>
    </tr>
    <tr>
      <td>CG</td>
      <td>Congo (the)</td>
    </tr>
    <tr>
      <td>CH</td>
      <td>Switzerland</td>
    </tr>
    <tr>
      <td>CI</td>
      <td>C&#xF4;te d'Ivoire (la)</td>
    </tr>
    <tr>
      <td>CK</td>
      <td>Cook Islands (the)</td>
    </tr>
    <tr>
      <td>CL</td>
      <td> Chile</td>
    </tr>
    <tr>
      <td>CM</td>
      <td>Cameroon</td>
    </tr>
    <tr>
      <td>CN</td>
      <td> China</td>
    </tr>
    <tr>
      <td>CO</td>
      <td>Colombia</td>
    </tr>
    <tr>
      <td>CR</td>
      <td> Costa Rica</td>
    </tr>
    <tr>
      <td>CU</td>
      <td>Cuba</td>
    </tr>
    <tr>
      <td>CV</td>
      <td>Cape Verde/Cabo Verde</td>
    </tr>
    <tr>
      <td>CW</td>
      <td>Cura&#xE7;ao</td>
    </tr>
    <tr>
      <td>CX</td>
      <td>Christmas Island</td>
    </tr>
    <tr>
      <td>CY</td>
      <td>Cyprus</td>
    </tr>
    <tr>
      <td>CZ</td>
      <td>Czechia</td>
    </tr>
    <tr>
      <td>DE</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>DJ</td>
      <td>Djibouti</td>
    </tr>
    <tr>
      <td>DK</td>
      <td>Denmark</td>
    </tr>
    <tr>
      <td>DM </td>
      <td>Dominica</td>
    </tr>
    <tr>
      <td>DO</td>
      <td>Dominican Republic (the)</td>
    </tr>
    <tr>
      <td>DZ</td>
      <td>Algeria</td>
    </tr>
    <tr>
      <td>EC</td>
      <td>Ecuador</td>
    </tr>
    <tr>
      <td>EE</td>
      <td> Estonia</td>
    </tr>
    <tr>
      <td>EG</td>
      <td>Egypt</td>
    </tr>
    <tr>
      <td>EH</td>
      <td>Western Sahara</td>
    </tr>
    <tr>
      <td>ER</td>
      <td>Eritrea</td>
    </tr>
    <tr>
      <td>ES</td>
      <td>Spain</td>
    </tr>
    <tr>
      <td>ET</td>
      <td>Ethiopia</td>
    </tr>
    <tr>
      <td>EU</td>
      <td>European Union</td>
    </tr>
    <tr>
      <td>FI</td>
      <td>Finland</td>
    </tr>
    <tr>
      <td>FJ</td>
      <td>Fiji</td>
    </tr>
    <tr>
      <td>FK</td>
      <td>Falkland Islands (the)</td>
    </tr>
    <tr>
      <td>FM</td>
      <td>Micronesia (Federated States of)</td>
    </tr>
    <tr>
      <td>FO</td>
      <td>Faroe Islands (the)</td>
    </tr>
    <tr>
      <td>FR </td>
      <td>France </td>
    </tr>
    <tr>
      <td>GA </td>
      <td>Gabon</td>
    </tr>
    <tr>
      <td>GB</td>
      <td>United Kingdom </td>
    </tr>
    <tr>
      <td>GD</td>
      <td> Grenada</td>
    </tr>
    <tr>
      <td>GE</td>
      <td>Georgia</td>
    </tr>
    <tr>
      <td>GF</td>
      <td>French Guyana</td>
    </tr>
    <tr>
      <td>GG</td>
      <td>Guernsey</td>
    </tr>
    <tr>
      <td>GH</td>
      <td>Ghana</td>
    </tr>
    <tr>
      <td>GI</td>
      <td>Gibraltar</td>
    </tr>
    <tr>
      <td>GL</td>
      <td> Greenland</td>
    </tr>
    <tr>
      <td>GM </td>
      <td>Gambia (the)</td>
    </tr>
    <tr>
      <td>GN</td>
      <td>Guinea</td>
    </tr>
    <tr>
      <td>GP</td>
      <td>Guadeloupe</td>
    </tr>
    <tr>
      <td>GQ</td>
      <td>Equatorial Guinea</td>
    </tr>
    <tr>
      <td>GR</td>
      <td> Greece</td>
    </tr>
    <tr>
      <td>GS</td>
      <td>South Georgia and South Sandwich Islands</td>
    </tr>
    <tr>
      <td>GT</td>
      <td>Guatemala</td>
    </tr>
    <tr>
      <td>GU</td>
      <td>Guam</td>
    </tr>
    <tr>
      <td>GW</td>
      <td>Guinea-Bissau</td>
    </tr>
    <tr>
      <td>GY</td>
      <td>Guyana</td>
    </tr>
    <tr>
      <td>HK</td>
      <td>Hong Kong</td>
    </tr>
    <tr>
      <td>HM</td>
      <td>Heard Island and McDonald Islands</td>
    </tr>
    <tr>
      <td>HN</td>
      <td>Honduras</td>
    </tr>
    <tr>
      <td>HR</td>
      <td>Croatia</td>
    </tr>
    <tr>
      <td>HT</td>
      <td>Haiti</td>
    </tr>
    <tr>
      <td>HU</td>
      <td>Hungary</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>Indonesia</td>
    </tr>
    <tr>
      <td>IE</td>
      <td>Ireland</td>
    </tr>
    <tr>
      <td>IM</td>
      <td>Isle of Man</td>
    </tr>
    <tr>
      <td>IN</td>
      <td>India</td>
    </tr>
    <tr>
      <td>IO</td>
      <td>British Indian Ocean Territory (the)</td>
    </tr>
    <tr>
      <td>IQ</td>
      <td>Iraq</td>
    </tr>
    <tr>
      <td>IR</td>
      <td>Iran (Islamic Republic of)</td>
    </tr>
    <tr>
      <td>IS</td>
      <td>Iceland</td>
    </tr>
    <tr>
      <td>IT</td>
      <td>Italy</td>
    </tr>
    <tr>
      <td>JE</td>
      <td>Jersey</td>
    </tr>
    <tr>
      <td>JM</td>
      <td>Jamaica</td>
    </tr>
    <tr>
      <td>JO</td>
      <td>Jordan</td>
    </tr>
    <tr>
      <td>JP</td>
      <td>Japan</td>
    </tr>
    <tr>
      <td>KE</td>
      <td>Kenya</td>
    </tr>
    <tr>
      <td>KG</td>
      <td>Kyrgyz, Republic /Kyrgyzstan</td>
    </tr>
    <tr>
      <td>KH</td>
      <td>Cambodia</td>
    </tr>
    <tr>
      <td>KI</td>
      <td>Kiribati</td>
    </tr>
    <tr>
      <td>KM</td>
      <td>Comoros (the)</td>
    </tr>
    <tr>
      <td>KN</td>
      <td>Saint Kitts and Nevis</td>
    </tr>
    <tr>
      <td>KP</td>
      <td>Korea (the Democratic People's Republic)</td>
    </tr>
    <tr>
      <td>KR</td>
      <td>Korea (the Republic of)</td>
    </tr>
    <tr>
      <td>KW</td>
      <td>Kuwait</td>
    </tr>
    <tr>
      <td>KY</td>
      <td>Cayman Islands (the)</td>
    </tr>
    <tr>
      <td>KZ</td>
      <td>Kazakhstan</td>
    </tr>
    <tr>
      <td>LA</td>
      <td>Lao People's Democratic Republic (the)</td>
    </tr>
    <tr>
      <td>LB</td>
      <td>Lebanon</td>
    </tr>
    <tr>
      <td>LC</td>
      <td>Saint Lucia</td>
    </tr>
    <tr>
      <td>LI</td>
      <td>Liechtenstein</td>
    </tr>
    <tr>
      <td>LK </td>
      <td>Sri Lanka</td>
    </tr>
    <tr>
      <td>LR</td>
      <td>Liberia</td>
    </tr>
    <tr>
      <td>LS</td>
      <td>Lesotho</td>
    </tr>
    <tr>
      <td>LT</td>
      <td>Lithuania</td>
    </tr>
    <tr>
      <td>LU</td>
      <td>Luxembourg</td>
    </tr>
    <tr>
      <td>LV</td>
      <td> Latvia</td>
    </tr>
    <tr>
      <td>LY</td>
      <td>Libya</td>
    </tr>
    <tr>
      <td>MA</td>
      <td>Morocco</td>
    </tr>
    <tr>
      <td>MC</td>
      <td>Monaco</td>
    </tr>
    <tr>
      <td>MD</td>
      <td>Moldova (the Republic of)</td>
    </tr>
    <tr>
      <td>ME</td>
      <td>Montenegro</td>
    </tr>
    <tr>
      <td>MF</td>
      <td>Saint Martin ( French part)</td>
    </tr>
    <tr>
      <td>MG</td>
      <td>Madagascar</td>
    </tr>
    <tr>
      <td>MH</td>
      <td>Marshall Islands (the)</td>
    </tr>
    <tr>
      <td>MK</td>
      <td>North Macedonia</td>
    </tr>
    <tr>
      <td>ML</td>
      <td>Mali</td>
    </tr>
    <tr>
      <td>MM</td>
      <td>Myanmar</td>
    </tr>
    <tr>
      <td>MN</td>
      <td>Mongolia</td>
    </tr>
    <tr>
      <td>MO</td>
      <td>Macao</td>
    </tr>
    <tr>
      <td>MP</td>
      <td>Northern Mariana Islands (the)</td>
    </tr>
    <tr>
      <td>MQ </td>
      <td>Martinique</td>
    </tr>
    <tr>
      <td>MR</td>
      <td>Mauritania</td>
    </tr>
    <tr>
      <td>MS</td>
      <td>Montserrat</td>
    </tr>
    <tr>
      <td>MT</td>
      <td> Malta</td>
    </tr>
    <tr>
      <td>MU</td>
      <td>Mauritius</td>
    </tr>
    <tr>
      <td>MV</td>
      <td>Maldives</td>
    </tr>
    <tr>
      <td>MW</td>
      <td>Malawi</td>
    </tr>
    <tr>
      <td>MX</td>
      <td>Mexico</td>
    </tr>
    <tr>
      <td>MY</td>
      <td>Malaysia</td>
    </tr>
    <tr>
      <td>MZ</td>
      <td>Mozambique</td>
    </tr>
    <tr>
      <td>NA</td>
      <td>Namibia</td>
    </tr>
    <tr>
      <td>NC</td>
      <td>New Caledonia</td>
    </tr>
    <tr>
      <td>NE</td>
      <td>Niger (the)</td>
    </tr>
    <tr>
      <td>NF</td>
      <td>Norfolk Island</td>
    </tr>
    <tr>
      <td>NG</td>
      <td>Nigeria</td>
    </tr>
    <tr>
      <td>NI </td>
      <td>Nicaragua</td>
    </tr>
    <tr>
      <td>NL</td>
      <td>Netherlands (Kingdom of the)</td>
    </tr>
    <tr>
      <td>NO</td>
      <td>Norway</td>
    </tr>
    <tr>
      <td>NP</td>
      <td>Nepal</td>
    </tr>
    <tr>
      <td>NR</td>
      <td>Nauru</td>
    </tr>
    <tr>
      <td>NU</td>
      <td>Niue</td>
    </tr>
    <tr>
      <td>NZ</td>
      <td>New Zealand</td>
    </tr>
    <tr>
      <td>OM</td>
      <td>Oman</td>
    </tr>
    <tr>
      <td>PA</td>
      <td>Panama</td>
    </tr>
    <tr>
      <td>PE</td>
      <td>Peru</td>
    </tr>
    <tr>
      <td>PF</td>
      <td>French Polynesia</td>
    </tr>
    <tr>
      <td>PG</td>
      <td>Papua New Guinea</td>
    </tr>
    <tr>
      <td>PH</td>
      <td> Philippines</td>
    </tr>
    <tr>
      <td>PK</td>
      <td>Pakistan</td>
    </tr>
    <tr>
      <td>PL</td>
      <td>Poland</td>
    </tr>
    <tr>
      <td>PM</td>
      <td>Saint Pierre and Miquelon</td>
    </tr>
    <tr>
      <td>PN</td>
      <td>Pitcairn</td>
    </tr>
    <tr>
      <td>PR</td>
      <td>Puerto Rico</td>
    </tr>
    <tr>
      <td>PS</td>
      <td>Occupied Palestainian Territory</td>
    </tr>
    <tr>
      <td>PT</td>
      <td>Portugal</td>
    </tr>
    <tr>
      <td>PW</td>
      <td>Palau</td>
    </tr>
    <tr>
      <td>PY</td>
      <td>Paraguay</td>
    </tr>
    <tr>
      <td>QA</td>
      <td>Qatar</td>
    </tr>
    <tr>
      <td>QP</td>
      <td>High Seas</td>
    </tr>
    <tr>
      <td>QQ</td>
      <td>Stores and Provisions</td>
    </tr>
    <tr>
      <td>QR</td>
      <td>Stores and Provisions intra-Comm</td>
    </tr>
    <tr>
      <td>QS</td>
      <td>Stores and Provisions 3rd countries</td>
    </tr>
    <tr>
      <td>QU</td>
      <td>Countries not specified</td>
    </tr>
    <tr>
      <td>QV</td>
      <td>Countries not spec intra-Comm</td>
    </tr>
    <tr>
      <td>QW</td>
      <td>Countries not spec 3rd countries</td>
    </tr>
    <tr>
      <td>QX</td>
      <td>Countries not spec com/mil reasons</td>
    </tr>
    <tr>
      <td>QY</td>
      <td>Countries n/s com/mil/intra-comm</td>
    </tr>
    <tr>
      <td>QZ</td>
      <td>Countries n/s com/mil/3rd countries </td>
    </tr>
    <tr>
      <td>RE</td>
      <td>R&#xE9;union</td>
    </tr>
    <tr>
      <td>RO</td>
      <td>Romania</td>
    </tr>
    <tr>
      <td>RS</td>
      <td>Serbia</td>
    </tr>
    <tr>
      <td>RU</td>
      <td>Russian Federation (the)</td>
    </tr>
    <tr>
      <td>RW</td>
      <td>Rwanda</td>
    </tr>
    <tr>
      <td>SA</td>
      <td>Saudi Arabia</td>
    </tr>
    <tr>
      <td>SB</td>
      <td>Solomon Islands</td>
    </tr>
    <tr>
      <td>SC</td>
      <td>Seychelles</td>
    </tr>
    <tr>
      <td>SD</td>
      <td>Sudan (the)</td>
    </tr>
    <tr>
      <td>SE</td>
      <td>Sweden</td>
    </tr>
    <tr>
      <td>SG</td>
      <td>Singapore</td>
    </tr>
    <tr>
      <td>SH</td>
      <td>Saint Helena, Ascension and Tristan</td>
    </tr>
    <tr>
      <td>SI</td>
      <td>Slovenia</td>
    </tr>
    <tr>
      <td>SJ</td>
      <td>Svalbard and Jan Mayen</td>
    </tr>
    <tr>
      <td>SK</td>
      <td> Slovakia</td>
    </tr>
    <tr>
      <td>SL</td>
      <td>Sierra Leone</td>
    </tr>
    <tr>
      <td>SM</td>
      <td>San Marino</td>
    </tr>
    <tr>
      <td>SN</td>
      <td>Senegal</td>
    </tr>
    <tr>
      <td>SO</td>
      <td>Somalia</td>
    </tr>
    <tr>
      <td>SR</td>
      <td>Suriname</td>
    </tr>
    <tr>
      <td>SS</td>
      <td>South Sudan</td>
    </tr>
    <tr>
      <td>ST</td>
      <td>S&#xE3;o Tom&#xE9; and Pr&#xED;ncipe</td>
    </tr>
    <tr>
      <td>SV</td>
      <td>El Salvador</td>
    </tr>
    <tr>
      <td>SX</td>
      <td>Sint Maarten (Dutch Part)</td>
    </tr>
    <tr>
      <td>SY</td>
      <td>Syrian Arab Republic (the)</td>
    </tr>
    <tr>
      <td>SZ</td>
      <td>Eswatini</td>
    </tr>
    <tr>
      <td>TC</td>
      <td>Turks and Caicos Islands (the)</td>
    </tr>
    <tr>
      <td>TD</td>
      <td>Chad</td>
    </tr>
    <tr>
      <td>TF</td>
      <td>French Southern Territories</td>
    </tr>
    <tr>
      <td>TG</td>
      <td>Togo</td>
    </tr>
    <tr>
      <td>TH</td>
      <td>Thailand</td>
    </tr>
    <tr>
      <td>TJ</td>
      <td>Tajikistan</td>
    </tr>
    <tr>
      <td>TK</td>
      <td>Tokelau</td>
    </tr>
    <tr>
      <td>TL</td>
      <td>Timor-Leste</td>
    </tr>
    <tr>
      <td>TM</td>
      <td>Turkmenistan</td>
    </tr>
    <tr>
      <td>TN</td>
      <td>Tunisia</td>
    </tr>
    <tr>
      <td>TO</td>
      <td>Tonga</td>
    </tr>
    <tr>
      <td>TP</td>
      <td>Timor-Leste (Democratic Republic of)</td>
    </tr>
    <tr>
      <td>TR</td>
      <td>Turkiye</td>
    </tr>
    <tr>
      <td>TT</td>
      <td>Trinidad and Tobago</td>
    </tr>
    <tr>
      <td>TV</td>
      <td>Tuvalu</td>
    </tr>
    <tr>
      <td>TW</td>
      <td>Taiwan</td>
    </tr>
    <tr>
      <td>TZ</td>
      <td>Tanzania, (the United Republic of)</td>
    </tr>
    <tr>
      <td>UA</td>
      <td>Ukraine</td>
    </tr>
    <tr>
      <td>UG</td>
      <td>Uganda</td>
    </tr>
    <tr>
      <td>UM</td>
      <td>United States Minor Outlying Islands (the)</td>
    </tr>
    <tr>
      <td>US </td>
      <td>United States of America (the)</td>
    </tr>
    <tr>
      <td>UY</td>
      <td>Uruguay</td>
    </tr>
    <tr>
      <td>UZ</td>
      <td>Uzbekistan</td>
    </tr>
    <tr>
      <td>VA</td>
      <td>Vatican City/Holy See (the)</td>
    </tr>
    <tr>
      <td>VC</td>
      <td>Saint Vincent and the Grenadines</td>
    </tr>
    <tr>
      <td>VE</td>
      <td>Venezuela ((Bolivarian Republic of)</td>
    </tr>
    <tr>
      <td>VG</td>
      <td>Virgin Islands (British)</td>
    </tr>
    <tr>
      <td>VI</td>
      <td> Virgin Islands (US)</td>
    </tr>
    <tr>
      <td>VN</td>
      <td>Viet Nam</td>
    </tr>
    <tr>
      <td>VU</td>
      <td>Vanuatu</td>
    </tr>
    <tr>
      <td>WF</td>
      <td>Wallis and Futuna</td>
    </tr>
    <tr>
      <td>WS</td>
      <td>Samoa</td>
    </tr>
    <tr>
      <td>XC</td>
      <td>Ceuta</td>
    </tr>
    <tr>
      <td>XI</td>
      <td>United Kingdom (Northern Ireland)</td>
    </tr>
    <tr>
      <td>XK</td>
      <td>Kosovo</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>Melilla</td>
    </tr>
    <tr>
      <td>YE</td>
      <td>Yemen</td>
    </tr>
    <tr>
      <td>YT</td>
      <td>Mayotte</td>
    </tr>
    <tr>
      <td>ZA</td>
      <td>South Africa</td>
    </tr>
    <tr>
      <td>ZM</td>
      <td>Zambia</td>
    </tr>
    <tr>
      <td>ZW</td>
      <td>Zimbabwe</td>
    </tr>
  </tbody>
</table>
