# Document Types

<table>
  <thead>
    <tr>
      <th>Document Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2</td>
      <td>Certificate of conformity</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Certificate of quality</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Movement certificate A.TR.1</td>
    </tr>
    <tr>
      <td>235</td>
      <td>Container list</td>
    </tr>
    <tr>
      <td>271</td>
      <td>Packing list</td>
    </tr>
    <tr>
      <td>325</td>
      <td>Proforma invoice</td>
    </tr>
    <tr>
      <td>380</td>
      <td>Commercial invoice</td>
    </tr>
    <tr>
      <td>703</td>
      <td>House waybill</td>
    </tr>
    <tr>
      <td>704</td>
      <td>Master bill of lading</td>
    </tr>
    <tr>
      <td>705</td>
      <td>Bill of lading</td>
    </tr>
    <tr>
      <td>714</td>
      <td>House bill of lading</td>
    </tr>
    <tr>
      <td>720</td>
      <td>CIM consignment note (rail)</td>
    </tr>
    <tr>
      <td>722</td>
      <td>Road list-SMGS</td>
    </tr>
    <tr>
      <td>730</td>
      <td>Road consignment note</td>
    </tr>
    <tr>
      <td>740</td>
      <td>Air waybill</td>
    </tr>
    <tr>
      <td>741</td>
      <td>Master air waybill</td>
    </tr>
    <tr>
      <td>750</td>
      <td>Despatch note (post parcels)</td>
    </tr>
    <tr>
      <td>760</td>
      <td>Multimodal/combined transport doc.</td>
    </tr>
    <tr>
      <td>785</td>
      <td>Cargo manifest</td>
    </tr>
    <tr>
      <td>787</td>
      <td>Bordereau</td>
    </tr>
    <tr>
      <td>820</td>
      <td>Despatch note model T</td>
    </tr>
    <tr>
      <td>821</td>
      <td>Despatch note model T1</td>
    </tr>
    <tr>
      <td>822</td>
      <td>Despatch note model T2</td>
    </tr>
    <tr>
      <td>823</td>
      <td>Control document T5</td>
    </tr>
    <tr>
      <td>825</td>
      <td>Despatch note model T2L</td>
    </tr>
    <tr>
      <td>830</td>
      <td>Goods declaration for exportation</td>
    </tr>
    <tr>
      <td>851</td>
      <td>Phytosanitary certificate</td>
    </tr>
    <tr>
      <td>852</td>
      <td>Sanitary certificate</td>
    </tr>
    <tr>
      <td>853</td>
      <td>Veterinary certificate</td>
    </tr>
    <tr>
      <td>861</td>
      <td>Certificate of origin</td>
    </tr>
    <tr>
      <td>862</td>
      <td>Declaration of origin</td>
    </tr>
    <tr>
      <td>864</td>
      <td>Preference certificate of origin</td>
    </tr>
    <tr>
      <td>865</td>
      <td>Certificate of origin form GSP</td>
    </tr>
    <tr>
      <td>911</td>
      <td>Import licence</td>
    </tr>
    <tr>
      <td>933</td>
      <td>Cargo declaration (arrival)</td>
    </tr>
    <tr>
      <td>941</td>
      <td>Embargo permit</td>
    </tr>
    <tr>
      <td>951</td>
      <td>TIF form</td>
    </tr>
    <tr>
      <td>952</td>
      <td>TIR carnet</td>
    </tr>
    <tr>
      <td>954</td>
      <td>EUR 1 certificate of origin</td>
    </tr>
    <tr>
      <td>955</td>
      <td>ATA carnet</td>
    </tr>
    <tr>
      <td>A001</td>
      <td>Certificate of authenticity fresh 'EMPEROR' table grapes</td>
    </tr>
    <tr>
      <td>A004</td>
      <td>Certificate of authenticity Tobacco</td>
    </tr>
    <tr>
      <td>A007</td>
      <td>Certificate of authenticity - Frozen beef and veal (crop, chuck and blade and brisket cuts)</td>
    </tr>
    <tr>
      <td>A008</td>
      <td>Certificate of authenticity fresh sweet oranges 'high quality'</td>
    </tr>
    <tr>
      <td>A009</td>
      <td>Certificate of authenticity fresh minneola</td>
    </tr>
    <tr>
      <td>A010</td>
      <td>Certificate of authenticity concentrated orange juice</td>
    </tr>
    <tr>
      <td>A014</td>
      <td>Certificate of authenticity HANDI</td>
    </tr>
    <tr>
      <td>A015</td>
      <td>Certificate of authenticity (silk or cotton handloom products)</td>
    </tr>
    <tr>
      <td>A016</td>
      <td>Certificate of authenticity Beef and Veal - Thin skirt</td>
    </tr>
    <tr>
      <td>A017</td>
      <td>Certificate of authenticity as mentioned in Regulation (EU) No 593/2013 or as mentioned in Implementing Regulation (EU) 2020/761</td>
    </tr>
    <tr>
      <td>A019</td>
      <td>Certificate of quality (Nitrate from Chile)</td>
    </tr>
    <tr>
      <td>A022</td>
      <td>Certificate of authenticity B 'Basmati Rice' for export to the European Community</td>
    </tr>
    <tr>
      <td>A023</td>
      <td>Certificate of authenticity Beef and Veal, Implementing Regulation (EU) 2020/1988</td>
    </tr>
    <tr>
      <td>A030</td>
      <td>Certificate of authenticity for export to the European Union - Fragrant rice</td>
    </tr>
    <tr>
      <td>C001</td>
      <td>Attestation of equivalence as mentioned in Regulation (EC) No 1295/2008 (OJ L 340)</td>
    </tr>
    <tr>
      <td>C006</td>
      <td>Export permit (Council Decision (EU) 2017/37 (OJ L 11))</td>
    </tr>
    <tr>
      <td>C008</td>
      <td>Document issued by the competent authority or agency in the third country of origin, Implementing Regulation (EU) 2020/1988</td>
    </tr>
    <tr>
      <td>C012</td>
      <td>Certificate for the export of pasta to the USA (P 2 certificate).</td>
    </tr>
    <tr>
      <td>C013</td>
      <td>Certificate IMA 1</td>
    </tr>
    <tr>
      <td>C014</td>
      <td>V I 1 document</td>
    </tr>
    <tr>
      <td>C015</td>
      <td>V I 2 extract</td>
    </tr>
    <tr>
      <td>C017</td>
      <td>V I 1 document annotated in compliance with Regulation (EU) 2018/273, Article 25 (2)</td>
    </tr>
    <tr>
      <td>C018</td>
      <td>V I 2 extract annotated in compliance with Regulation (EU) 2018/273, Article 25 (2)</td>
    </tr>
    <tr>
      <td>C019</td>
      <td>OPO - Authorisation for the use of outward processing procedure (Column 8b, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C026</td>
      <td>Certificate of registration in a herdbook certifying the purity of the breed</td>
    </tr>
    <tr>
      <td>C027</td>
      <td>Pedigree certificate</td>
    </tr>
    <tr>
      <td>C034</td>
      <td>'Kimberley' EU certificate</td>
    </tr>
    <tr>
      <td>C039</td>
      <td>ICCAT swordfish statistical document</td>
    </tr>
    <tr>
      <td>C040</td>
      <td>ICCAT, IOTC or IATTC bigeye tuna statistical document</td>
    </tr>
    <tr>
      <td>C041</td>
      <td>ICCAT bluefin tuna re-export certificate (Reg 640/2010, L 194)</td>
    </tr>
    <tr>
      <td>C042</td>
      <td>ICCAT swordfish re-export certificate</td>
    </tr>
    <tr>
      <td>C043</td>
      <td>ICCAT, IOTC or IATTC bigeye tuna re-export certificate</td>
    </tr>
    <tr>
      <td>C046</td>
      <td>Banana weighing certificate</td>
    </tr>
    <tr>
      <td>C047</td>
      <td>ICCAT Bluefin tuna catch document (BCD)</td>
    </tr>
    <tr>
      <td>C050</td>
      <td>Certificate as mentioned in Regulation (EU) No 1308/2013 (OJ L 347)</td>
    </tr>
    <tr>
      <td>C052</td>
      <td>Export authorisation for restricted goods and technologies</td>
    </tr>
    <tr>
      <td>C055</td>
      <td>Declaration of compliance (Annex IV of Regulation (EU) No 10/2011)</td>
    </tr>
    <tr>
      <td>C056</td>
      <td>Certificate concerning pelts of certain wild animal species and of goods incorporating such pelts subject to Council Regulation (EEC) No 3254/91</td>
    </tr>
    <tr>
      <td>C057</td>
      <td>Copy of the declaration of conformity - Option A, as referred to in Article 1.2 and in the Annex of Regulation (EU) 2016/879</td>
    </tr>
    <tr>
      <td>C058</td>
      <td>The statement of conformity with the end-of-waste criteria referred to in Article 5(1) of Council Regulation (EU) No 333/2011 is to be issued for each consignment of scrap metal ceased to be waste</td>
    </tr>
    <tr>
      <td>C060</td>
      <td>Declaration to be provided for every consignment of kitchenware falling under the provisions of (EU) Regulation 284/2011, originating in or consigned from the People&#x2019;s Republic of China and Hong Kong Special Administrative Region, China</td>
    </tr>
    <tr>
      <td>C064</td>
      <td>Authorisation for export or import of goods that could be used for torture (Regulation (EU) 2019/125)</td>
    </tr>
    <tr>
      <td>C065</td>
      <td>Permit for invasive alien species in accordance with Art. 8 of Regulation (EU) 1143/2014</td>
    </tr>
    <tr>
      <td>C067</td>
      <td>Import authorisation for restricted goods and technologies (Council Regulation (EU) No 267/2012)</td>
    </tr>
    <tr>
      <td>C068</td>
      <td>Union General Export Authorisation EU GEA (Regulation (EU) 2019/125)</td>
    </tr>
    <tr>
      <td>C069</td>
      <td>Authorisation issued by competent authority (Reg. (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>C070</td>
      <td>Prior authorisation - Restrictive measures against Libya - Council Regulation (EU) No 2016/44</td>
    </tr>
    <tr>
      <td>C071</td>
      <td>Form for granting or denying written consent, pursuant to article 4(1) of Regulation (EU) 2017/852 of the European Parliament and of the Council on mercury, to the import of mercury or of the mixtures of mercury listed in Annex I to that Regulation</td>
    </tr>
    <tr>
      <td>C072</td>
      <td>Aircraft&#x2019;s registration certificate in accordance with the Convention on International Civil Aviation dated 7 December 1944</td>
    </tr>
    <tr>
      <td>C073</td>
      <td>REACH Authorisation, according to Title VII of Regulation (EC) No 1907/2006</td>
    </tr>
    <tr>
      <td>C074</td>
      <td>Zootechnical certificate (Regulation (EU) 2016/1012, Article 37)</td>
    </tr>
    <tr>
      <td>C075</td>
      <td>Document indicating that purebred breeding animals are to be entered in a breeding book maintained by a breed society or registered in a breeding register maintained by a breeding operation (Regulation (EU) 2016/1012, Article 37)</td>
    </tr>
    <tr>
      <td>C076</td>
      <td>Authorisation issued by competent authority (Annex II, Part VI of Reg. (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>C077</td>
      <td>Authorisation issued by competent authority (Annex II, Part VIII of Reg. (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>C078</td>
      <td>Identification document for equidae (Regulation (EU) 2016/1012, Article 32)</td>
    </tr>
    <tr>
      <td>C079</td>
      <td>Copy of the declaration of conformity - Option B, as referred to in Article 1.2 and in the Annex of Regulation (EU) 2016/879</td>
    </tr>
    <tr>
      <td>C080</td>
      <td>Simplified V I 1 document</td>
    </tr>
    <tr>
      <td>C081</td>
      <td>Self-certification Simplified VI 1 document</td>
    </tr>
    <tr>
      <td>C082</td>
      <td>Copy of the declaration of conformity - Option C, as referred to in Article 1.2 and in the Annex of Regulation (EU) 2016/879</td>
    </tr>
    <tr>
      <td>C083</td>
      <td>Self-certificate for wine imported from the United Kingdom into the European Union (TCA Agreement &#x2013; Appendix 15-C)</td>
    </tr>
    <tr>
      <td>C084</td>
      <td>Exemption by virtue of Articles 3 and 4 of regulation 2019/2122 (animals intended for scientific purposes, research and diagnostic samples, and samples for product analysis and quality testing).</td>
    </tr>
    <tr>
      <td>C085</td>
      <td>Common Health Entry Document for Plants and Plant Products (CHED-PP) (as set out in Part 2, Section C of Annex II to Commission Implementing Regulation (EU) 2019/1715 (OJ L 261))</td>
    </tr>
    <tr>
      <td>C089</td>
      <td>Export authorisation - Vaccines against SARS-related coronaviruses (SARS-CoV species)</td>
    </tr>
    <tr>
      <td>C090</td>
      <td>Certificate issued by the Servicio Nacional de Sanidad y Calidad Agroalimentaria (Senasa) of Argentina for flint maize</td>
    </tr>
    <tr>
      <td>C100</td>
      <td>Registered Exporter number</td>
    </tr>
    <tr>
      <td>C119</td>
      <td>Authorised Release Certificate &#x2014; EASA Form 1 (Appendix I to Annex I to Regulation (EU) No 748/2012), or equivalent certificate.</td>
    </tr>
    <tr>
      <td>C400</td>
      <td>Presentation of the required 'CITES' certificate</td>
    </tr>
    <tr>
      <td>C401</td>
      <td>CITES Export permit or Re-export certificate issued by an EU-country</td>
    </tr>
    <tr>
      <td>C402</td>
      <td>CITES Export permit or Re-export certificate issued by a third country</td>
    </tr>
    <tr>
      <td>C403</td>
      <td>CITES Travelling exhibition certificate</td>
    </tr>
    <tr>
      <td>C404</td>
      <td>CITES Personal ownership certificate</td>
    </tr>
    <tr>
      <td>C405</td>
      <td>CITES Sample collection certificate</td>
    </tr>
    <tr>
      <td>C406</td>
      <td>CITES Musical instrument certificate</td>
    </tr>
    <tr>
      <td>C501</td>
      <td>AEOC - Authorisation for the status of Authorised Economic Operator &#x2013; Customs simplifications (Column 2, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C502</td>
      <td>AEOS - Authorisation for the status of Authorised Economic Operator &#x2013; Security and safety (Column 2, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C503</td>
      <td>AEOF - Authorisation for the status of Authorised Economic Operator &#x2013; Customs simplifications/Security and safety (Column 2, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C504</td>
      <td>CVA - Authorisation for the simplification of the determination of amounts being part of the customs value of goods (Column 3, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C505</td>
      <td>CGU - Authorisation for the provision of a comprehensive guarantee, including possible reduction or waiver (Column 4a, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C506</td>
      <td>DPO - Authorisation for the deferment of payment (Column 4b, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C507</td>
      <td>REP - Decision for the repayment of the amounts of import or export duty (Column 4c, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C508</td>
      <td>REM - Decision for the remission of the amounts of import or export duty (Column 4c, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C509</td>
      <td>TST - Authorisation for the operation of storage facilities for the temporary storage of goods (Column 5, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C510</td>
      <td>RSS - Authorisation to establish regular shipping services (Column 6a, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C511</td>
      <td>ACP - Authorisation for the status of authorised issuer to establish the proof of the customs status of Union goods (Column 6b, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C512</td>
      <td>SDE - Authorisation to use simplified declaration (Column 7a, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C513</td>
      <td>CCL - Authorisation for centralised clearance (Colum 7b, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C514</td>
      <td>EIR - Authorisation for making a customs declaration through an entry of data in the declarant's records, including for the export procedure (Column 7c, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C515</td>
      <td>SAS - Authorisation for self-assessment (Column 7d, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C516</td>
      <td>TEA - Authorisation for the use of temporary admission (Column 8d, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C517</td>
      <td>CWP - Authorisation for the operation of storage facilities for the customs warehousing of goods in a private customs warehouse (Column 8e, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C518</td>
      <td>CW1 - Authorisation for the operation of storage facilities for the customs warehousing of goods in a public customs warehouse type I (Column 8e, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C519</td>
      <td>CW2 - Authorisation for the operation of storage facilities for the customs warehousing of goods in a public customs warehouse type II (Column 8e, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C520</td>
      <td>ACT - Authorisation for the status of authorised consignee for TIR procedure (Column 9a, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C521</td>
      <td>ACR - Authorisation for the status of authorised consignor for Union transit (Column 9b, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C522</td>
      <td>ACE - Authorisation for the status of authorised consignee for Union transit (Column 9c, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C523</td>
      <td>SSE - Authorisation for the use of seals of a special type (Column 9d, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C524</td>
      <td>TRD - Authorisation to use transit declaration with a reduced dataset (Column 9e, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C525</td>
      <td>ETD - Authorisation for the use of an electronic transport document as customs declaration (Column 9f, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C526</td>
      <td>AWB - Authorisation for the status of authorised weigher of bananas (Column 7e, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C600</td>
      <td>Authorisation to operate a customs warehouse or to use the arrangements in a type E warehouse</td>
    </tr>
    <tr>
      <td>C601</td>
      <td>IPO - Authorisation for the use of inward processing procedure (Column 8a, Annex A of Delegated regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C602</td>
      <td>Declaration of particulars relating to customs value (continuation sheet D.V.1BIS)</td>
    </tr>
    <tr>
      <td>C605</td>
      <td>Information sheet INF3</td>
    </tr>
    <tr>
      <td>C612</td>
      <td>Internal Community transit declaration, T2F</td>
    </tr>
    <tr>
      <td>C613</td>
      <td>Consignment note CIM (T2)</td>
    </tr>
    <tr>
      <td>C614</td>
      <td>Consignment note CIM (T2F)</td>
    </tr>
    <tr>
      <td>C615</td>
      <td>TR transfer note (T1)</td>
    </tr>
    <tr>
      <td>C616</td>
      <td>TR transfer note (T2)</td>
    </tr>
    <tr>
      <td>C617</td>
      <td>TR transfer note (T2F)</td>
    </tr>
    <tr>
      <td>C618</td>
      <td>Air manifest (T2F)</td>
    </tr>
    <tr>
      <td>C619</td>
      <td>Maritime manifest (T2F)</td>
    </tr>
    <tr>
      <td>C620</td>
      <td>T2LF document</td>
    </tr>
    <tr>
      <td>C621</td>
      <td>Proof of customs status: fishing logbook, landing declaration, transhipment declaration or data from the vessel monitoring system, as stipulated in Article 199(1)(e) of Regulation (EU) 2015/2447</td>
    </tr>
    <tr>
      <td>C622</td>
      <td>Certificate of customs status</td>
    </tr>
    <tr>
      <td>C623</td>
      <td>Transhipment certificate EXP.1</td>
    </tr>
    <tr>
      <td>C624</td>
      <td>Form 302</td>
    </tr>
    <tr>
      <td>C625</td>
      <td>Rhine Manifest</td>
    </tr>
    <tr>
      <td>C626</td>
      <td>BTI - Decision relating to Binding Tariff Information (Column 1a, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C627</td>
      <td>BOI - Decision relating to Binding Origin Information (Column 1b, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>C631</td>
      <td>Formal letter validating the use of non-wooden or recycled materials for paper products, issued by the Ministry of Industry of the FLEGT VPA partner country from which the paper products are originating</td>
    </tr>
    <tr>
      <td>C635</td>
      <td>CITES Label for Scientific Material</td>
    </tr>
    <tr>
      <td>C638</td>
      <td>CITES Import permit</td>
    </tr>
    <tr>
      <td>C639</td>
      <td>CITES Import notification</td>
    </tr>
    <tr>
      <td>C640</td>
      <td>Common Veterinary Entry Document (CVED) in accordance with Commission Regulation (EC) No. 282/2004, used for veterinary checks on live animals</td>
    </tr>
    <tr>
      <td>C641</td>
      <td>Dissostichus - catch document import</td>
    </tr>
    <tr>
      <td>C644</td>
      <td>Certificate of inspection for organic products</td>
    </tr>
    <tr>
      <td>C645</td>
      <td>Certificate for military equipment</td>
    </tr>
    <tr>
      <td>C647</td>
      <td>Confirmation of receipt</td>
    </tr>
    <tr>
      <td>C651</td>
      <td>Electronic administrative document (e-AD), as referred to in Article 3(1) of Reg. (EC) No 684/2009</td>
    </tr>
    <tr>
      <td>C652</td>
      <td>Accompanying documents for the carriage of wine products</td>
    </tr>
    <tr>
      <td>C656</td>
      <td>Dissostichus - Catch document export</td>
    </tr>
    <tr>
      <td>C657</td>
      <td>Sanitary certificate</td>
    </tr>
    <tr>
      <td>C658</td>
      <td>Fallback Accompanying Document for movements of excise goods under suspension of excise duty (FAD), as referred to in Article 8(1) Reg. (EC) No 684/2009</td>
    </tr>
    <tr>
      <td>C659</td>
      <td>Prior written declaration</td>
    </tr>
    <tr>
      <td>C660</td>
      <td>Export notification</td>
    </tr>
    <tr>
      <td>C661</td>
      <td>Explicit consent</td>
    </tr>
    <tr>
      <td>C662</td>
      <td>Import decision</td>
    </tr>
    <tr>
      <td>C664</td>
      <td>CN22 declaration according to Article 144 of the Regulation (EU) 2015/2446 (UCC DA)</td>
    </tr>
    <tr>
      <td>C665</td>
      <td>CN23 declaration according to Article 144 of the Regulation (EU) 2015/2446 (UCC DA)</td>
    </tr>
    <tr>
      <td>C666</td>
      <td>Certificate issued by the Federal Grain Inspection Service (FGIS)</td>
    </tr>
    <tr>
      <td>C667</td>
      <td>Laboratory analysis</td>
    </tr>
    <tr>
      <td>C668</td>
      <td>Certificate issued by the USA wet milling industry in accordance with Regulation (EC) No 1375/2007 before 7.3.2017</td>
    </tr>
    <tr>
      <td>C669</td>
      <td>Notification document as mentioned in Regulation (EC) No 1013/2006 (OJ L 190) - Article 4 and Annex IA</td>
    </tr>
    <tr>
      <td>C670</td>
      <td>Movement document as mentioned in Regulation (EC) No 1013/2006 (OJ L 190) &#x2013; Article 4 and Annex IB</td>
    </tr>
    <tr>
      <td>C671</td>
      <td>Certificate issued by the Canadian Grain Commission (CGC)</td>
    </tr>
    <tr>
      <td>C672</td>
      <td>Information document accompanying shipments of waste as mentioned in Regulation (EC) No 1013/2006 (OJ L 190) &#x2013; Article 18 and Annex VII</td>
    </tr>
    <tr>
      <td>C673</td>
      <td>Catch certificate</td>
    </tr>
    <tr>
      <td>C676</td>
      <td>Import/export authorisation issued by the competent authorities of the Member States</td>
    </tr>
    <tr>
      <td>C678</td>
      <td>Common entry document (CED) (model of which is set out in Annex II of the Regulation (EC) No 669/2009 (OJ L 194))</td>
    </tr>
    <tr>
      <td>C679</td>
      <td>Attesting Document (seal product), issued by a recognised body in accordance with Regulation (EU) No 737/2010 prior to 18 October 2015</td>
    </tr>
    <tr>
      <td>C680</td>
      <td>Written notification of import and document giving evidence where the products were acquired (seal product)</td>
    </tr>
    <tr>
      <td>C683</td>
      <td>European Union - Attesting document for seal products resulting from hunt by Inuit or other indigenous communities for placing on the Union's market in accordance with Article 3 (1) of Regulation (EC) No 1007/2009 on trade in seal products</td>
    </tr>
    <tr>
      <td>C684</td>
      <td>Certificate in accordance with the model set out in the Annex of Regulation (EU) No 2015/949 (OJ L 156, p.2)</td>
    </tr>
    <tr>
      <td>C685</td>
      <td>Report containing the results of sampling and analysis performed in accordance with the provisions of Commission Regulation (EC) No 401/2006 of 23 February 2006, or with equivalent requirements, by a laboratory approved for that purpose by the Canadian Grain Commission</td>
    </tr>
    <tr>
      <td>C687</td>
      <td>Health certificate as mentioned in Annex III of Commission Implementing Decision (EU) No 884/2011(OJ L 343, p, 140)</td>
    </tr>
    <tr>
      <td>C688</td>
      <td>Analytical report as mentioned in Annex IV of Commission Implementing Decision 2011/884/EU (OJ L 343, 23.12.2011, p. 140)</td>
    </tr>
    <tr>
      <td>C689</td>
      <td>Export authorisation issued according to Regulation EC No 147/2003</td>
    </tr>
    <tr>
      <td>C690</td>
      <td>FLEGT import licence for timber</td>
    </tr>
    <tr>
      <td>C692</td>
      <td>Results of sampling and analysis performed by a USDA approved laboratory carried out in accordance with the provisions of Commission Regulation (EC) No 401/2006 of 23 February 2006</td>
    </tr>
    <tr>
      <td>C693</td>
      <td>Certificate issued by the USA wet milling industry in accordance with Commission Implementing Regulation (EU) 2017/337</td>
    </tr>
    <tr>
      <td>C700</td>
      <td>Information sheet INF4</td>
    </tr>
    <tr>
      <td>C710</td>
      <td>Information sheet</td>
    </tr>
    <tr>
      <td>C715</td>
      <td>Import-One-Stop-Shop (IOSS) number - individual VAT identification number (Art. 369q of Council Directive (EU) 2017/2455)</td>
    </tr>
    <tr>
      <td>C990</td>
      <td>End use authorisation ships and platforms (Column 8c, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>D005</td>
      <td>Commercial invoice within the framework of undertakings</td>
    </tr>
    <tr>
      <td>D008</td>
      <td>Invoice with a signed declaration</td>
    </tr>
    <tr>
      <td>D017</td>
      <td>Commercial invoice within the framework of undertakings and Export Undertaking Certificate issued by CCCME (Annex III of Regulation 513/2013 as amended by Regulation 748/2013)</td>
    </tr>
    <tr>
      <td>D018</td>
      <td>Invoice for transactions which are not exempted from countervailing/anti-dumping duties</td>
    </tr>
    <tr>
      <td>D019</td>
      <td>Authorisation to use a customs procedure with economic impact/end-use within the context of an anti-dumping/countervailing measure (Column 8c, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>D020</td>
      <td>Commercial invoice and mill certificate as defined in Regulation 2022/58</td>
    </tr>
    <tr>
      <td>D022</td>
      <td>Commercial invoice from the manufacturer to the trader bearing a declaration of the manufacturer as specified in Annex 3 of Reg. 2019/2131 and commercial invoice from the trader to the importer</td>
    </tr>
    <tr>
      <td>E012</td>
      <td>Export licence 'Cultural goods' (Regulation (EC) No 116/2009)</td>
    </tr>
    <tr>
      <td>E013</td>
      <td>Export licence 'controlled substances' (ozone), issued by the Commission.</td>
    </tr>
    <tr>
      <td>E014</td>
      <td>Export licence for milk products under quota in accordance with Regulation (EU) 2020/761</td>
    </tr>
    <tr>
      <td>E017</td>
      <td>Export certificate issued by the competent authorities of a third country</td>
    </tr>
    <tr>
      <td>E020</td>
      <td>Export authorisation for firearms (Regulation (EU) No 258/2012)</td>
    </tr>
    <tr>
      <td>E990</td>
      <td>Export authorisation for goods that could be used for the purpose of torture or other cruel, inhuman or degrading treatment or punishment</td>
    </tr>
    <tr>
      <td>I004</td>
      <td>Surveillance document issued by the competent authorities of a Member State valid throughout the EU</td>
    </tr>
    <tr>
      <td>K020</td>
      <td>Tariff quota - order number 09.8250 requested and not exhausted</td>
    </tr>
    <tr>
      <td>K022</td>
      <td>No data</td>
    </tr>
    <tr>
      <td>K025</td>
      <td>Tariff quota - order number 09.8258 requested and not exhausted</td>
    </tr>
    <tr>
      <td>K026</td>
      <td>Tariff quota - order number 09.8259 requested and not exhausted</td>
    </tr>
    <tr>
      <td>K027</td>
      <td>Tariff quota - order number 09.8253 requested and not exhausted</td>
    </tr>
    <tr>
      <td>K028</td>
      <td>Tariff quota - order number 09.8255 requested and not exhausted</td>
    </tr>
    <tr>
      <td>K029</td>
      <td>Tariff quota - order number 09.8256 requested and not exhausted</td>
    </tr>
    <tr>
      <td>L001</td>
      <td>Import licence AGRIM</td>
    </tr>
    <tr>
      <td>L079</td>
      <td>Textile products: import licence</td>
    </tr>
    <tr>
      <td>L081</td>
      <td>Certificate of analysis (Commission Implementing Regulation (EU) 2020/1988)</td>
    </tr>
    <tr>
      <td>L082</td>
      <td>Certificate of conformity (Commission Implementing Regulation (EU) 2020/1988)</td>
    </tr>
    <tr>
      <td>L100</td>
      <td>Import licence 'controlled substances' (ozone), issued by the Commission</td>
    </tr>
    <tr>
      <td>L116</td>
      <td>Kimberley Process Certificate</td>
    </tr>
    <tr>
      <td>L135</td>
      <td>Import authorisation (precursors) issued by the competent authorities of the Member State where the importer is established</td>
    </tr>
    <tr>
      <td>L136</td>
      <td>Goods, containing, or relying on, ozone-depleting substances, to be used as feedstock or for laboratory and analytical uses</td>
    </tr>
    <tr>
      <td>L137</td>
      <td>Import authorisation by virtue of article 3m.5 of Council Regulation (EU) 833/2014 (Bulgaria)</td>
    </tr>
    <tr>
      <td>L138</td>
      <td>Import authorization by virtue of article 3m.6 of Council Regulation (EU) 833/2014 (Croatia)</td>
    </tr>
    <tr>
      <td>L139</td>
      <td>Import authorisation by virtue of article 3g.7 of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>L142</td>
      <td>Import authorisation by virtue of article 3i paragraph 3c of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>L143</td>
      <td>Import authorisation by virtue of article 12b.2 of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>L144</td>
      <td>Import authorisation by virtue of article 3i paragraph 3e of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>L838</td>
      <td>Import authorisation by virtue of article 3o.7 of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>N002</td>
      <td>Certificate of conformity with the European Union marketing standards for fresh fruit and vegetables</td>
    </tr>
    <tr>
      <td>N003</td>
      <td>Certificate of quality</td>
    </tr>
    <tr>
      <td>N018</td>
      <td>ATR certificate</td>
    </tr>
    <tr>
      <td>N235</td>
      <td>Container list</td>
    </tr>
    <tr>
      <td>N271</td>
      <td>Packing list</td>
    </tr>
    <tr>
      <td>N325</td>
      <td>Proforma invoice</td>
    </tr>
    <tr>
      <td>N337</td>
      <td>Summary declaration for temporary storage</td>
    </tr>
    <tr>
      <td>N355</td>
      <td>Entry summary declaration</td>
    </tr>
    <tr>
      <td>N380</td>
      <td>Commercial invoice</td>
    </tr>
    <tr>
      <td>N703</td>
      <td>House waybill</td>
    </tr>
    <tr>
      <td>N704</td>
      <td>Master bill of lading</td>
    </tr>
    <tr>
      <td>N705</td>
      <td>Bill of lading</td>
    </tr>
    <tr>
      <td>N710</td>
      <td>Maritime manifest (T1)</td>
    </tr>
    <tr>
      <td>N714</td>
      <td>House bill of lading</td>
    </tr>
    <tr>
      <td>N720</td>
      <td>Consignment note CIM</td>
    </tr>
    <tr>
      <td>N722</td>
      <td>Road list - SMGS</td>
    </tr>
    <tr>
      <td>N730</td>
      <td>Road consignment note</td>
    </tr>
    <tr>
      <td>N740</td>
      <td>Air waybill</td>
    </tr>
    <tr>
      <td>N741</td>
      <td>Master airwaybill</td>
    </tr>
    <tr>
      <td>N750</td>
      <td>movement by post including parcel post</td>
    </tr>
    <tr>
      <td>N760</td>
      <td>Multimodal/combined transport document</td>
    </tr>
    <tr>
      <td>N785</td>
      <td>Cargo manifest</td>
    </tr>
    <tr>
      <td>N787</td>
      <td>Bordereau (cargo load list)</td>
    </tr>
    <tr>
      <td>N820</td>
      <td>Transit declaration 'T'</td>
    </tr>
    <tr>
      <td>N821</td>
      <td>External Community transit declaration / common transit, T1</td>
    </tr>
    <tr>
      <td>N822</td>
      <td>Internal Community transit declaration T2</td>
    </tr>
    <tr>
      <td>N825</td>
      <td>T2L document</td>
    </tr>
    <tr>
      <td>N830</td>
      <td>Goods declaration for exportation</td>
    </tr>
    <tr>
      <td>N851</td>
      <td>Phytosanitary certificate</td>
    </tr>
    <tr>
      <td>N852</td>
      <td>Analysis and health certificate</td>
    </tr>
    <tr>
      <td>N853</td>
      <td>Common Veterinary Entry Document (CVED) in accordance with Regulation (EC) No 136/2004, used for veterinary check on products</td>
    </tr>
    <tr>
      <td>N864</td>
      <td>Invoice declaration or origin declaration made out by any exporter on invoice or any other commercial document</td>
    </tr>
    <tr>
      <td>N933</td>
      <td>Cargo declaration (arrival)</td>
    </tr>
    <tr>
      <td>N934</td>
      <td>Declaration of particulars relating to customs value D.V.1</td>
    </tr>
    <tr>
      <td>N935</td>
      <td>Invoice on the basis of which the customs value of the goods is declared</td>
    </tr>
    <tr>
      <td>N941</td>
      <td>Embargo permit</td>
    </tr>
    <tr>
      <td>N951</td>
      <td>TIF form</td>
    </tr>
    <tr>
      <td>N952</td>
      <td>TIR Carnet</td>
    </tr>
    <tr>
      <td>N954</td>
      <td>Movement certificate EUR.1</td>
    </tr>
    <tr>
      <td>N955</td>
      <td>ATA carnet</td>
    </tr>
    <tr>
      <td>N988</td>
      <td>Authorisation to use simplified procedures - local clearance procedure &#x2013; export (pre-departure declaration required according to Art. 285a 1 of Commission Regulation (EEC) No 2454/93)</td>
    </tr>
    <tr>
      <td>N989</td>
      <td>Authorisation to use simplified procedures - local clearance procedure &#x2013; export (Waiver of pre-departure declaration according to Art. 285a 1a of Commission Regulation (EEC) No 2454/93)</td>
    </tr>
    <tr>
      <td>N990</td>
      <td>EUS - Authorisation for the use of end use procedure (Column 8c, Annex A of Delegated Regulation (EU) 2015/2446)</td>
    </tr>
    <tr>
      <td>U004</td>
      <td>Certificate of origin for imports of products subject to special non-preferential import arrangements into the European Union established in accordance with Article 57 of Commission Implementing Regulation (EU) 2015/2447</td>
    </tr>
    <tr>
      <td>U005</td>
      <td>Certificate of designation of origin issued by the competent authorities</td>
    </tr>
    <tr>
      <td>U045</td>
      <td>Movement certificate EUR-MED</td>
    </tr>
    <tr>
      <td>U048</td>
      <td>Invoice declaration EUR-MED</td>
    </tr>
    <tr>
      <td>U059</td>
      <td>Origin declaration containing the following statement in English: 'Derogation - Annex II(a) of Protocol concerning the definition of 'originating products ' and methods of administrative cooperation '</td>
    </tr>
    <tr>
      <td>U062</td>
      <td>Reference to Annex 5-A of Council Decision (EU) 2017/37 (OJ L 11)</td>
    </tr>
    <tr>
      <td>U063</td>
      <td>Proof of origin containing the following statement in English: &#x2018;Derogation &#x2014; Annex II(a) of Protocol 3 &#x2014; name of the Development Zone or industrial area and authorisation number granted by the competent authorities of Jordan&#x2019;</td>
    </tr>
    <tr>
      <td>U067</td>
      <td>Certificate EUR 1. bearing the endorsement 'Derogation &#x2014; Decision No 1/2022 of the ESA-EU Customs Cooperation Committee of 19 October 2022' or 'D&#xE9;rogation &#x2014; D&#xE9;cision no 1/2022 du comit&#xE9; de coop&#xE9;ration douani&#xE8;re AfOA-UE du 19 octobre 2022'</td>
    </tr>
    <tr>
      <td>U068</td>
      <td>Proof of origin containing the following statement in English: 'Product originating in accordance with Appendix 2A of Annex II'</td>
    </tr>
    <tr>
      <td>U069</td>
      <td>Proof of origin containing the following statement in English: 'Product originating in accordance with Appendix 5 of Annex II'</td>
    </tr>
    <tr>
      <td>U071</td>
      <td>Proof of origin containing the following statement: 'Product originating in accordance with Appendix 2A of Annex II (Concerning the Definition of the Concept of 'Originating Products' and Methods of Administrative Cooperation)' (OJ L 346, 15.12.2012)</td>
    </tr>
    <tr>
      <td>U074</td>
      <td>Certificate of origin for imports of agricultural products into the European Union, used in the framework of tariff quotas according to Article 13, Regulation (EU) 2020/1988</td>
    </tr>
    <tr>
      <td>U075</td>
      <td>Movement certificate EUR. 1 (under the condition that in box 7 the remark 'Transitional Rules' is inserted) in the context of the Pan-Euro-Mediterranean transitional rules of origin</td>
    </tr>
    <tr>
      <td>U076</td>
      <td>Origin declaration (under the condition that the declaration mentions &#x201C;origin according to the transitional rules&#x201D;) in the context of the Pan-Euro-Mediterranean transitional rules of origin</td>
    </tr>
    <tr>
      <td>U088</td>
      <td>Origin declaration stating European Union origin, in the context of the Canada-European Union Comprehensive Economic and Trade Agreement (CETA)</td>
    </tr>
    <tr>
      <td>U090</td>
      <td>Movement certificate EUR. 1 - Movement certificate EUR-MED (under the condition that in box 7 the remark 'no cumulation applied' is marked with a cross) stating European Community origin, in the context of the agreement between the European Economic Community and the Swiss Confederation (codification/key: U090)</td>
    </tr>
    <tr>
      <td>U091</td>
      <td>Invoice declaration - Invoice declaration EUR-MED (under the condition the declaration contains the remark 'no cumulation applied'), stating European Community origin, in the context of the agreement between the European Economic Community and the Swiss Confederation</td>
    </tr>
    <tr>
      <td>U099</td>
      <td>Certificate EUR.1 bearing the endorsement 'Derogation-Regulation (EU) 2017/882'</td>
    </tr>
    <tr>
      <td>U101</td>
      <td>Statement on origin made out by an exporter registered in Singapore</td>
    </tr>
    <tr>
      <td>U110</td>
      <td>Statement on Origin (Article 3.16(2)(a) and 3.17(5)(a) of the EU-Japan EPA)</td>
    </tr>
    <tr>
      <td>U111</td>
      <td>Statement on Origin for multiple shipments of identical products (Article 3.16(2)(a) and Article 3.17(5)(b) of the EU-Japan EPA)</td>
    </tr>
    <tr>
      <td>U112</td>
      <td>Importer&#x2019;s knowledge (Article 3.16(2)(b) of the EU-Japan EPA)</td>
    </tr>
    <tr>
      <td>U113</td>
      <td>Statement on origin made out by a Registered Exporter in the framework of OAD for a total value of originating products consigned not exceeding 10 000 &#x20AC;</td>
    </tr>
    <tr>
      <td>U114</td>
      <td>Statement on origin made out by a Registered Exporter in the framework of OAD for a total value of originating products consigned exceeding 10 000 &#x20AC;</td>
    </tr>
    <tr>
      <td>U115</td>
      <td>Statement on origin made out by a non-registered Exporter in the framework of OAD for a total value of originating products consigned not exceeding 10 000 &#x20AC;</td>
    </tr>
    <tr>
      <td>U116</td>
      <td>Statement on Origin (Article 56 (4) point (a) of the EU-UK TCA)</td>
    </tr>
    <tr>
      <td>U117</td>
      <td>Importer&#x2019;s knowledge (Article 58 of the EU-UK TCA)</td>
    </tr>
    <tr>
      <td>U118</td>
      <td>Statement on Origin for multiple shipments of identical products (Article 56 (4) point (b) of the EU-UK TCA)</td>
    </tr>
    <tr>
      <td>U119</td>
      <td>Statement on Origin (&#x2018;Derogation &#x2013; Commission Implementing Regulation (EU) 2021/966&#x2019;)</td>
    </tr>
    <tr>
      <td>U161</td>
      <td>Invoice declaration or origin declaration made out by any exporter on invoice or any other commercial document within the framework of GSP for a total value of originating products not exceeding 6000 &#x20AC;, according to Art. 75 of Reg. 2015/2447</td>
    </tr>
    <tr>
      <td>U162</td>
      <td>Invoice declaration or origin declaration made out on invoice by any exporter or any other commercial document neither in the framework of GSP nor EUR-MED for a total value of originating products not exceeding 6000 EUR</td>
    </tr>
    <tr>
      <td>U163</td>
      <td>Invoice declaration or origin declaration EUR-MED made out by any exporter on invoice or any other commercial document for a total value of originating products not exceeding 6000 EUR</td>
    </tr>
    <tr>
      <td>U164</td>
      <td>Statement on origin made out by a Registered Exporter in the framework of GSP for a total value of originating products consigned not exceeding 6&#xA0;000&#xA0;&#x20AC;</td>
    </tr>
    <tr>
      <td>U165</td>
      <td>Statement on origin made out by a Registered Exporter in the framework of GSP for a total value of originating products consigned exceeding 6000 &#x20AC;</td>
    </tr>
    <tr>
      <td>U166</td>
      <td>Statement on origin made out by a non-registered Exporter in the framework of GSP for a total value of originating products consigned not exceeding 6000 &#x20AC;</td>
    </tr>
    <tr>
      <td>U167</td>
      <td>Statement on origin made out by a non-registered EU re-consignor in the framework of GSP for a total value of originating products of the initial consignment to be split exceeding 6000 &#x20AC;</td>
    </tr>
    <tr>
      <td>U168</td>
      <td>Replacement origin declaration, replacement invoice declaration or replacement statement on origin made out by an APPROVED exporter or by a REGISTERED exporter where the total value of originating product in the initial consignment to be split does not exceed the applicable value threshold, according to Art. 69(2a) of Reg. 2015/2447</td>
    </tr>
    <tr>
      <td>U169</td>
      <td>Replacement origin declaration, replacement invoice declaration or replacement statement on origin made out by an APPROVED exporter or by a REGISTERED exporter where the total value of originating product in the initial consignment to be split exceeds the applicable value threshold, according to Art. 69(2a) of Reg. 2015/2447</td>
    </tr>
    <tr>
      <td>U170</td>
      <td>Replacement origin declaration or replacement invoice declaration made out by any re-consignor where the total value of originating products in the initial consignment to be split does not exceed the applicable value threshold, according to Art. 69(2b) of Reg. 2015/2447</td>
    </tr>
    <tr>
      <td>U171</td>
      <td>Replacement origin declaration or replacement invoice declaration made out by any re-consignor where the total value of originating products in the initial consignment to be split exceeds the applicable value threshold, according to Art. 69(2c) of Reg. 2015/2447</td>
    </tr>
    <tr>
      <td>U176</td>
      <td>Certificate EUR.1 bearing the endorsement 'Derogation - Decision No 1/2021 of the ESA-EU Customs Cooperation Committee of 2 August 2021' or 'D&#xE9;rogation - D&#xE9;cision n&#xB0; 1/2021 du Comit&#xE9; de Coop&#xE9;ration Douani&#xE8;re AfOA-UE du 2 ao&#xFB;t 2021'</td>
    </tr>
    <tr>
      <td>U177</td>
      <td>Proof of origin containing the following statement in English: 'Derogation &#x2014; Annex B(a) of Protocol Concerning the definition of the concept of &#x2018;originating products&#x2019; and methods of administrative cooperation of the EU-Singapore FTA'.</td>
    </tr>
    <tr>
      <td>U178</td>
      <td>Proof of origin containing the following statement in English: 'Origin quotas &#x2013; Product originating in accordance with Annex ORIG-2A '.</td>
    </tr>
    <tr>
      <td>U500</td>
      <td>EUR.2 form</td>
    </tr>
    <tr>
      <td>X001</td>
      <td>Export licence AGREX</td>
    </tr>
    <tr>
      <td>X035</td>
      <td>Export authorisation (precursors) issued by the competent authorities of the Member State where the exporter is established.</td>
    </tr>
    <tr>
      <td>X060</td>
      <td>Individual Export Authorisation - Article 12(1)(a) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X061</td>
      <td>Union General Export Authorisation No EU001 - ANNEX II A - referred to in Article 12(1)(d) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X062</td>
      <td>Union General Export Authorisation No EU002 - ANNEX II B - referred to in Article 12(1)(d) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X063</td>
      <td>Union General Export Authorisation No EU003 - ANNEX II C - referred to in Article 12(1)(d) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X064</td>
      <td>Union General Export Authorisation No EU004 - ANNEX II D - referred to in Article 12(1)(d) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X065</td>
      <td>Union General Export Authorisation No EU005 - ANNEX II E - referred to in Article 12(1)(d) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X066</td>
      <td>Union General Export Authorisation No EU006 - ANNEX II F - referred to in Article 12(1)(d) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X067</td>
      <td>Union General Export Authorisation No EU007 - ANNEX II G - referred to in Article 12(1)(d) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X068</td>
      <td>Union General Export Authorisation No EU008 - ANNEX II H - referred to in Article 12(1)(d) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X070</td>
      <td>Global Export Authorisation - referred to in Article 12(1)(b) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X071</td>
      <td>National General Export Authorisations in national Official Journals - ANNEX III C - referred to in Article 12(6) of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X072</td>
      <td>Transit Licence for dual Use Items - referred to in Article 7 of the Regulation (EU) 2021/821 of the European Parliament and of the Council</td>
    </tr>
    <tr>
      <td>X802</td>
      <td>Export authorisation by virtue of paragraphs 1 and 3 of Article 2e of Council Regulation (EU) No 692/2014</td>
    </tr>
    <tr>
      <td>X803</td>
      <td>Export authorisation by virtue of articles 1e.4 and 1fa.1 of Regulation (EC) No 765/2006</td>
    </tr>
    <tr>
      <td>X804</td>
      <td>The prohibitions defined in articles 1e.1 and 1f.1 of Council Regulation (EC) No 765/2006 do not apply (see contractual exemptions in article 1f.5 - export authorization)</td>
    </tr>
    <tr>
      <td>X805</td>
      <td>Export authorisation by virtue of article 1f.4 of Regulation (EC) No 765/2006</td>
    </tr>
    <tr>
      <td>X806</td>
      <td>Export authorisation by virtue of article 1f.5a of Regulation (EC) No 765/2006</td>
    </tr>
    <tr>
      <td>X807</td>
      <td>Export authorisation by virtue of article 1sa.7 of Regulation (EC) No 765/2006</td>
    </tr>
    <tr>
      <td>X808</td>
      <td>Export authorisation by virtue of article 1f.4a of Regulation (EC) No 765/2006</td>
    </tr>
    <tr>
      <td>X817</td>
      <td>Export authorisation by virtue of article 3f 4. of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X819</td>
      <td>Export authorisation by virtue of article 3.6 of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X823</td>
      <td>Export authorisation by virtue of article 3h.4 of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X824</td>
      <td>Export authorisation by virtue of article 3h.4a of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X830</td>
      <td>Export authorisation by virtue of article 3c.6 of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X831</td>
      <td>Export authorisation by virtue of article 3c. paragraph 6c of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X832</td>
      <td>Export authorisation by virtue of article 3c.6e of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X834</td>
      <td>Export authorisation by virtue of article 3k.5 of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X835</td>
      <td>Export authorisation by virtue of article 3k.5a of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X836</td>
      <td>Export authorisation by virtue of articles 2.4(b) or article 2a.4(b) of Council Regulation (EU) No 2014/833</td>
    </tr>
    <tr>
      <td>X837</td>
      <td>Export authorisation by virtue of article 3k.5b of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X839</td>
      <td>Export authorisation by virtue of article 3c paragraph 6a of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X840</td>
      <td>Export authorization by virtue of article 5q paragraph 1 of Council Regulation (EU) 833/2014</td>
    </tr>
    <tr>
      <td>X985</td>
      <td>Export authorisation by virtue of article 7 of Council Regulation (EU) 2022/263</td>
    </tr>
    <tr>
      <td>X990</td>
      <td>Export authorisation by virtue of articles 2.4 or article 2a.4 and 2b.1 of Council Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>X991</td>
      <td>The prohibitions defined in articles 2.1 and 2a.1 of Council Regulation (EU) No 2014/833 do not apply (see contractual exemptions in article 2.5 and article 2a.5 - export authorization)</td>
    </tr>
    <tr>
      <td>X992</td>
      <td>Export authorisation, or case of emergency, by virtue of article 3b.4 of Council Regulation (EU) No 2014/833</td>
    </tr>
    <tr>
      <td>X993</td>
      <td>Export authorisation by virtue of articles 2 (3) (a) or 2 (3) (b) of Council Regulation (EU) 2023/1529</td>
    </tr>
    <tr>
      <td>Y001</td>
      <td>Wholly obtained in Lebanon and transported directly from that country to the Community.</td>
    </tr>
    <tr>
      <td>Y003</td>
      <td>Wholly obtained in Tunisia and transported directly from that country to the Community.</td>
    </tr>
    <tr>
      <td>Y006</td>
      <td>Stamp (at beginning/end of each piece) and directly transported</td>
    </tr>
    <tr>
      <td>Y007</td>
      <td>Seal (fixed to each piece) and directly transported</td>
    </tr>
    <tr>
      <td>Y008</td>
      <td>Transported directly from T&#xFC;rkiye to the European Union</td>
    </tr>
    <tr>
      <td>Y013</td>
      <td>Insertion of one of the following endorsements in the 'Remarks' column of a goods movement certificate. Regulation (EEC) no 1518/76 (OJ L 169/37): Taxe sp&#xE9;ciale &#xE0; l'exportation appliqu&#xE9;e S&#xE6;rlig udf&#xF8;rselsafgift opkr&#xE6;vet Sonderausfuhrabgabe erhoben Special export charge collected Applicata tassa speciale all'esportazione Bijzondere</td>
    </tr>
    <tr>
      <td>Y015</td>
      <td>The rough diamonds are contained in tamper-resistant containers, and the seals applied at export by the participant (Kimberley process) are not broken</td>
    </tr>
    <tr>
      <td>Y017</td>
      <td>Wholly obtained in Jordan and transported directly from that country to the Community</td>
    </tr>
    <tr>
      <td>Y019</td>
      <td>Request for preferential treatment for Iceland</td>
    </tr>
    <tr>
      <td>Y020</td>
      <td>Request for preferential treatment for Norway</td>
    </tr>
    <tr>
      <td>Y021</td>
      <td>Request for EEA preferential treatment</td>
    </tr>
    <tr>
      <td>Y022</td>
      <td>Consignor / exporter (AEO certificate number)</td>
    </tr>
    <tr>
      <td>Y023</td>
      <td>Consignee (AEO certificate number)</td>
    </tr>
    <tr>
      <td>Y024</td>
      <td>Declarant (AEO certificate number)</td>
    </tr>
    <tr>
      <td>Y025</td>
      <td>Representative (AEO certificate number)</td>
    </tr>
    <tr>
      <td>Y026</td>
      <td>Principal (AEO certificate number)</td>
    </tr>
    <tr>
      <td>Y027</td>
      <td>Warehousekeeper (AEO certificate number)</td>
    </tr>
    <tr>
      <td>Y028</td>
      <td>Carrier (AEO certificate number)</td>
    </tr>
    <tr>
      <td>Y029</td>
      <td>Other authorised economic operator (AEO certificate number)</td>
    </tr>
    <tr>
      <td>Y031</td>
      <td>This certificate code may be used to indicate that shipments are coming from or going to an Authorised Economic Operator (AEO) in a third country with which the European Union (EU) has concluded a mutual recognition agreement regarding AEO programmes. In addition to the certificate code (Y031) the identification code of this third country AEO must</td>
    </tr>
    <tr>
      <td>Y032</td>
      <td>Other goods than those seal products mentioned in Regulation (EU) 2015/1850 (OJ L 271)</td>
    </tr>
    <tr>
      <td>Y033</td>
      <td>Derogation from import prohibition by virtue of Article 4(2) of Council Regulation (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y034</td>
      <td>Derogation from export prohibition by virtue of Article 4.1 of Council Regulation (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y036</td>
      <td>The declared goods are exempted from the presentation of the concerned licence by virtue of Article 3 (1) points a, b, d and e and (2) of Commission Delegated Regulation (EU) 2016/1237 (OJ L 206)</td>
    </tr>
    <tr>
      <td>Y037</td>
      <td>Goods exempted from the prohibition &#x2013; biathlon equipment</td>
    </tr>
    <tr>
      <td>Y038</td>
      <td>Derogation from import prohibition by virtue of Article 14 of Council Regulation (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y040</td>
      <td>VAT identification number issued in the Member State of importation for the importer designated or recognised under Article 201 of the VAT Directive as liable for payment of VAT</td>
    </tr>
    <tr>
      <td>Y041</td>
      <td>VAT identification number of the customer who is liable for the VAT on the intra-Community acquisition&#xA0;of goods&#xA0;in accordance with Article 200 of the VAT Directive</td>
    </tr>
    <tr>
      <td>Y042</td>
      <td>VAT identification number issued in the Member State of importation for tax representative</td>
    </tr>
    <tr>
      <td>Y043</td>
      <td>Reimportation of textile products following an outward processing operation, in accordance with Regulation (EC) No 32/2000 - ANNEX II</td>
    </tr>
    <tr>
      <td>Y044</td>
      <td>Evidence that the imported goods are intended to be transported or dispatched from the Member State of importation to another Member State</td>
    </tr>
    <tr>
      <td>Y046</td>
      <td>Goods not covered by the provisions of Regulation (EU) No 284/2011</td>
    </tr>
    <tr>
      <td>Y053</td>
      <td>Goods not concerned by labelling requirements on fluorinated greenhouse gases as referred to Article 12, paragraph 1 of Regulation (EU) No 517/2014</td>
    </tr>
    <tr>
      <td>Y054</td>
      <td>Goods labelled according to the provisions of Article 12, paragraph 1 of Regulation (EU) No 517/2014</td>
    </tr>
    <tr>
      <td>Y057</td>
      <td>Goods not requiring the presentation of a FLEGT import licence for timber</td>
    </tr>
    <tr>
      <td>Y058</td>
      <td>Exemption by virtue of Article 7 of Commission Delegated Regulation 2019/2122 (Goods which form part of passengers' personal luggage and are intended for personal consumption or use) or Article 10 (small consignments of goods sent to natural persons which are not intended to be placed on the market) of Commission Delegated Regulation 2019/2122</td>
    </tr>
    <tr>
      <td>Y062</td>
      <td>Products which are not containing, consisting of or produced from rice (Commission Implementing Decision 2011/884/EU)</td>
    </tr>
    <tr>
      <td>Y063</td>
      <td>Goods not consigned from China</td>
    </tr>
    <tr>
      <td>Y066</td>
      <td>Products which are not containing or consisting of betel leaves (&#x2018;Piper betle&#x2019;)</td>
    </tr>
    <tr>
      <td>Y069</td>
      <td>Goods not consigned from Iran</td>
    </tr>
    <tr>
      <td>Y070</td>
      <td>Exemption from the requirement of presenting FLEGT licence by virtue of Article 4.3 of Council Regulation (EC) No 2173/2005</td>
    </tr>
    <tr>
      <td>Y072</td>
      <td>Goods with EU origin returning from Andorra, according to the relevant EU legislation</td>
    </tr>
    <tr>
      <td>Y073</td>
      <td>Goods with EU origin returning from Switzerland, according to the relevant EU legislation</td>
    </tr>
    <tr>
      <td>Y074</td>
      <td>Goods with EU origin returning from the Faroe Islands, according to the relevant EU legislation</td>
    </tr>
    <tr>
      <td>Y075</td>
      <td>Goods with EU origin returning from Greenland, according to the relevant EU legislation</td>
    </tr>
    <tr>
      <td>Y076</td>
      <td>Goods with EU origin returning from Iceland, according to the relevant EU legislation</td>
    </tr>
    <tr>
      <td>Y077</td>
      <td>Goods with EU origin returning from Lichtenstein, according to the relevant EU legislation</td>
    </tr>
    <tr>
      <td>Y078</td>
      <td>Goods with EU origin returning from Norway, according to the relevant EU legislation</td>
    </tr>
    <tr>
      <td>Y079</td>
      <td>Goods with EU origin returning from San Marino, according to the relevant EU legislation</td>
    </tr>
    <tr>
      <td>Y082</td>
      <td>Derogation from export prohibition by virtue of Article 16e (1) of Council Regulation (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y083</td>
      <td>Derogation from export prohibition by virtue of Article 16g of Council Regulation (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y084</td>
      <td>Derogation from import prohibition by virtue of Article 16i (1) of Council Regulation (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y085</td>
      <td>Goods imported in the framework of 'Autonomous trade measures'</td>
    </tr>
    <tr>
      <td>Y086</td>
      <td>Request for preferential treatment for Albania</td>
    </tr>
    <tr>
      <td>Y087</td>
      <td>Request for preferential treatment for Bosnia and Hercegovina</td>
    </tr>
    <tr>
      <td>Y088</td>
      <td>Request for preferential treatment for Montenegro</td>
    </tr>
    <tr>
      <td>Y089</td>
      <td>Request for preferential treatment for the North Macedonia</td>
    </tr>
    <tr>
      <td>Y090</td>
      <td>Request for preferential treatment for the customs territory of Kosovo</td>
    </tr>
    <tr>
      <td>Y091</td>
      <td>Request for preferential treatment for Serbia</td>
    </tr>
    <tr>
      <td>Y100</td>
      <td>Special entries on the import licence AGRIM</td>
    </tr>
    <tr>
      <td>Y105</td>
      <td>Generic exemption from REACH authorisation (Art. 56 of Regulation (EC) No 1907/2006)</td>
    </tr>
    <tr>
      <td>Y106</td>
      <td>Compliance with the REACH restrictions defined in Column 2 of Annex XVII of Regulation (EC) No 1907/2006</td>
    </tr>
    <tr>
      <td>Y107</td>
      <td>Goods exempted from the prohibition - spare parts from aircrafts mentioned in the 'CD' footnote</td>
    </tr>
    <tr>
      <td>Y108</td>
      <td>Goods exempted from the prohibition &#x2013; sport equipment of calibre .22 inches</td>
    </tr>
    <tr>
      <td>Y109</td>
      <td>Specific exemption from REACH authorisation (exempted (categories of) use listed in Annex XIV of Regulation (EC) No 1907/2006)</td>
    </tr>
    <tr>
      <td>Y110</td>
      <td>Exemption from REACH restrictions by virtue of Article 67(1) and 67(2) of Regulation (EC) No 1907/2006</td>
    </tr>
    <tr>
      <td>Y113</td>
      <td>Substance/mixture not subjected to the provisions of Regulation (EC) No 1907/2006 (Annex XVII)</td>
    </tr>
    <tr>
      <td>Y115</td>
      <td>Exemption from Authorization (Title VII) Article 2 point 5 and 8 of Regulation (EC) No 1907/2006 (REACH)</td>
    </tr>
    <tr>
      <td>Y117</td>
      <td>Dangerous product &#x2014; release for free circulation not authorised &#x2014; Regulation (EU) 2019/1020, Art. 28(1)</td>
    </tr>
    <tr>
      <td>Y118</td>
      <td>Product not in conformity &#x2014; release for free circulation not authorised &#x2014; Regulation (EU) 2019/1020, Art. 28(2)</td>
    </tr>
    <tr>
      <td>Y119</td>
      <td>Waiver of the proof of preferential origin, in the framework of EU preferential trade arrangements</td>
    </tr>
    <tr>
      <td>Y120</td>
      <td>Undertaking importing less than 100 tonnes of CO2 equivalent of hydrofluorocarbons per year and exempted from the reduction of the quantity of hydrofluorocarbons placed on the EU market according to article 15.2 first sub paragraph of Regulation (EU) N&#xB0; 517/2014</td>
    </tr>
    <tr>
      <td>Y123</td>
      <td>Undertaking registered according to Art. 19 of Regulation (EU) No 517/2014, and Article 1.2 of Commission Implementing Regulation (EU) 1191/2014 as amended by Commission Implementing Regulation (EU) 2017/1375</td>
    </tr>
    <tr>
      <td>Y124</td>
      <td>Undertaking importing smaller amount of fluorinated greenhouse gases per year than that specified in Article 19.1 for bulk imports and 19.4 for products and equipment imports, and therefore not covered by the registration requirement according to Art. 19.1 and 19.4 of Regulation (EU) No 517/2014, and Article 1.2 of Commission Implementing...</td>
    </tr>
    <tr>
      <td>Y125</td>
      <td>Import falling under Article 15.1 of Regulation (EU) N&#xB0; 517/2014 on the reduction of the quantity of hydrofluorocarbons placed on the EU market</td>
    </tr>
    <tr>
      <td>Y127</td>
      <td>Goods not dispatched from T&#xFC;rkiye</td>
    </tr>
    <tr>
      <td>Y150</td>
      <td>Exemption by virtue paragraph 2,3 Article 2 of Regulation (EU) 649/2012</td>
    </tr>
    <tr>
      <td>Y200</td>
      <td>Belgium - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y201</td>
      <td>Bulgaria - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y202</td>
      <td>Denmark - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y203</td>
      <td>Germany - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y204</td>
      <td>Estonia - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y205</td>
      <td>Ireland - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y206</td>
      <td>Greece - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y207</td>
      <td>Spain - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y208</td>
      <td>France - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y209</td>
      <td>Croatia - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y210</td>
      <td>Italy - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y211</td>
      <td>Cyprus - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y212</td>
      <td>Latvia - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y213</td>
      <td>Lithuania - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y214</td>
      <td>Malta - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y215</td>
      <td>The Netherlands - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y216</td>
      <td>Poland - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y217</td>
      <td>Portugal - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y218</td>
      <td>Romania - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y219</td>
      <td>Slovenia - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y220</td>
      <td>Finland - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y221</td>
      <td>Sweden - Continental shelf or Exclusive Economic Zone (Regulation 2019/1131 establishing a customs tool, OJ L 179, p. 12)</td>
    </tr>
    <tr>
      <td>Y223</td>
      <td>Exemption from safeguard measure by virtue of Art. 2 of Reg. (EU) 2019/67</td>
    </tr>
    <tr>
      <td>Y300</td>
      <td>Goods not concerned by Council Decision 2013/798/CFSP concerning restrictive measures against the Central African Republic</td>
    </tr>
    <tr>
      <td>Y301</td>
      <td>Goods excepted from the prohibition, according to Article 2.1 of Council Decision 2013/798/CFSP</td>
    </tr>
    <tr>
      <td>Y703</td>
      <td>Goods not concerned by Regulation (EU) 2023/1100</td>
    </tr>
    <tr>
      <td>Y800</td>
      <td>Goods not consigned from Bangladesh</td>
    </tr>
    <tr>
      <td>Y801</td>
      <td>Goods other than those concerned by the prohibitions defined in articles 1e.1 and 1f.1 of Regulation (EC) No 765/2006</td>
    </tr>
    <tr>
      <td>Y802</td>
      <td>The prohibitions defined in articles 1e.1 and 1f.1 of Regulation (EC) No 765/2006 do not apply (see exemptions in articles 1e.3 and 1f.3)</td>
    </tr>
    <tr>
      <td>Y805</td>
      <td>The prohibitions defined in article 1o of Council Regulation (EC) No 765/2006 do not apply (see contractual exemptions in article 1o.2)</td>
    </tr>
    <tr>
      <td>Y806</td>
      <td>The prohibitions defined in article 1p of Council Regulation (EU) No 765/2006 do not apply (see contractual exemptions in article 1p.2)</td>
    </tr>
    <tr>
      <td>Y807</td>
      <td>The prohibitions defined in article 1q of Council Regulation (EC) No765/2006apply (see contractual exemptions in article 1q.2)</td>
    </tr>
    <tr>
      <td>Y808</td>
      <td>The prohibitions defined in article 1r of Council Regulation (EC) No 765/2006 do not apply (see contractual exemptions in article 1r.2)</td>
    </tr>
    <tr>
      <td>Y809</td>
      <td>The prohibitions defined in article 1s of Council Regulation (EC) No 765/2006 do not apply (see contractual exemptions in article 1s.2)</td>
    </tr>
    <tr>
      <td>Y810</td>
      <td>Goods other than those concerned by the prohibitions defined in article 5i.1 of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y811</td>
      <td>The prohibitions defined in article 1s.1 of Council Regulation (EC) No 765/2006 do not apply (see exemptions in article 1s.2)</td>
    </tr>
    <tr>
      <td>Y812</td>
      <td>The prohibitions defined in article 5i paragraph 1 of Council Regulation (EU) No 2014/833 do not apply (see exemptions in article 5i paragraph 2)</td>
    </tr>
    <tr>
      <td>Y813</td>
      <td>Goods other than those concerned by the prohibitions defined in article 1za.1 of Regulation (EC) No 765/2006</td>
    </tr>
    <tr>
      <td>Y814</td>
      <td>The prohibitions defined in article 1za paragraph 1 of Council Regulation (EC) No 765/2006 do not apply (see exemptions in article 1za paragraph 2)</td>
    </tr>
    <tr>
      <td>Y815</td>
      <td>Goods other than those concerned by the prohibitions defined in article 3f paragraph 1 of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y816</td>
      <td>The prohibitions defined in article 3f paragraph 1 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in article 3f paragraph 3)</td>
    </tr>
    <tr>
      <td>Y818</td>
      <td>The prohibitions defined in article 3 paragraphs 1 and 2 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in article 3 paragraph 6)</td>
    </tr>
    <tr>
      <td>Y820</td>
      <td>The prohibitions defined in articles 3.1 and 3.2 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3.4)</td>
    </tr>
    <tr>
      <td>Y821</td>
      <td>Goods other than those concerned by the prohibitions defined in article 3h.1 of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y822</td>
      <td>The prohibitions defined in article 3h.1 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in articles 3h.2 and 3h.3)</td>
    </tr>
    <tr>
      <td>Y824</td>
      <td>Evidence of the country of origin of the iron and steel inputs used for processing of the product in a third country</td>
    </tr>
    <tr>
      <td>Y825</td>
      <td>The prohibitions defined in article 3g.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3g.2)</td>
    </tr>
    <tr>
      <td>Y831</td>
      <td>The prohibitions defined in article 3i.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3i.3)</td>
    </tr>
    <tr>
      <td>Y832</td>
      <td>The prohibitions defined in article 3k.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3k.3a)</td>
    </tr>
    <tr>
      <td>Y833</td>
      <td>The prohibitions defined in article 3k paragraph 1 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in article 3k paragraph 4)</td>
    </tr>
    <tr>
      <td>Y835</td>
      <td>Goods other than those concerned by the prohibitions defined in article 3i paragraph 1 of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y838</td>
      <td>No data</td>
    </tr>
    <tr>
      <td>Y839</td>
      <td>The prohibitions defined in article 1 of Commission Implementing Regulation (EU) 2023/903 do not apply (see contractual exemptions in article 1)</td>
    </tr>
    <tr>
      <td>Y840</td>
      <td>The prohibitions defined in article 3m.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3m.3)</td>
    </tr>
    <tr>
      <td>Y841</td>
      <td>The prohibitions defined in article 3m.1 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in article 3m.3 (d) and 3m.4)</td>
    </tr>
    <tr>
      <td>Y842</td>
      <td>The prohibitions defined in article 3m.1 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in article 3m.9)</td>
    </tr>
    <tr>
      <td>Y843</td>
      <td>The prohibitions defined in article 3o.1 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in article 3o.5,6,7)</td>
    </tr>
    <tr>
      <td>Y844</td>
      <td>Goods not released for free circulation in Bulgaria, Hungary, Poland, Romania or Slovakia</td>
    </tr>
    <tr>
      <td>Y845</td>
      <td>Goods other than those concerned by the prohibitions defined in article 3o of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y846</td>
      <td>Goods other than those concerned by the prohibitions defined in article 2aa of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y847</td>
      <td>Goods other than those concerned by the prohibitions defined in article 3c of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y848</td>
      <td>The prohibitions defined in article 3c.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3c.5a)</td>
    </tr>
    <tr>
      <td>Y849</td>
      <td>The prohibitions defined in article 3g.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3g.3)</td>
    </tr>
    <tr>
      <td>Y850</td>
      <td>The prohibitions defined in article 3i.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3i.3b)</td>
    </tr>
    <tr>
      <td>Y851</td>
      <td>The prohibitions defined in article 3i.1 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in article 3i.3a)</td>
    </tr>
    <tr>
      <td>Y852</td>
      <td>The prohibitions defined in article 3k.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3k.3)</td>
    </tr>
    <tr>
      <td>Y853</td>
      <td>Iron and steel products processed in a third country, not incorporating iron and steel products originating in Russia as listed in Annex XVII of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y854</td>
      <td>The declared goods are not concerned by Commission Implementing Regulation (EU) 2020/1158.</td>
    </tr>
    <tr>
      <td>Y855</td>
      <td>Exemption from import restrictions by virtue of Article 1(2) of Commission Implementing Regulation (EU) 2020/1158 (Chernobyl accident).</td>
    </tr>
    <tr>
      <td>Y856</td>
      <td>The prohibitions defined in article 3c.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3c.5c)</td>
    </tr>
    <tr>
      <td>Y857</td>
      <td>The prohibitions defined in article 3i.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3i.3d)</td>
    </tr>
    <tr>
      <td>Y858</td>
      <td>The prohibitions defined in article 3k.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3k.3c)</td>
    </tr>
    <tr>
      <td>Y859</td>
      <td>Goods entered the territory of the customs union of the EU and presented to customs authorities prior to the entry into force or to applicability date of the present sanction, whichever is latest (see Article 12e of Regulation (EU) No 833/2014)</td>
    </tr>
    <tr>
      <td>Y860</td>
      <td>The prohibitions defined in article 3c.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3c.5b)</td>
    </tr>
    <tr>
      <td>Y861</td>
      <td>The prohibitions defined in article 3i.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3i.3ba)</td>
    </tr>
    <tr>
      <td>Y862</td>
      <td>The prohibitions defined in article 3k.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3k.3b)</td>
    </tr>
    <tr>
      <td>Y863</td>
      <td>Goods other than those concerned by the prohibitions defined in article 3k paragraph 1 of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y864</td>
      <td>The proof of origin indicates that the production conferring originating status has not taken place in a location within the territories brought under Israeli administration since June 1967.</td>
    </tr>
    <tr>
      <td>Y865</td>
      <td>The prohibitions defined in article 3k.1 of Council Regulation (EU) No 833/2014 do not apply (see contractual exemptions in article 3k.3b)</td>
    </tr>
    <tr>
      <td>Y866</td>
      <td>Goods other than those concerned by the prohibitions defined in article 1ba of Regulation (EU) No 765/2006</td>
    </tr>
    <tr>
      <td>Y867</td>
      <td>The prohibitions defined in article 1f.1 of Council Regulation (EC) No 765/2006 do not apply (see exemptions in article 1f.4a)</td>
    </tr>
    <tr>
      <td>Y868</td>
      <td>Goods other than those concerned by the prohibitions defined in article 1sa.1 of Regulation (EC) No 765/2006</td>
    </tr>
    <tr>
      <td>Y869</td>
      <td>The prohibitions defined in article 1sa of Council Regulation (EC) No 765/2006 do not apply (see contractual exemptions in article 1sa.5)</td>
    </tr>
    <tr>
      <td>Y890</td>
      <td>Goods other than those concerned by the prohibitions defined in article 2.1 of Regulation (EU) 2023/1529</td>
    </tr>
    <tr>
      <td>Y892</td>
      <td>The prohibitions defined in article 2.1 of Council Regulation (EU) 2023/1529 do not apply (see contractual exemptions in article 2.7)</td>
    </tr>
    <tr>
      <td>Y900</td>
      <td>Declared goods do not belong to the Washington Convention (CITES)</td>
    </tr>
    <tr>
      <td>Y901</td>
      <td>Product not included in the dual use list</td>
    </tr>
    <tr>
      <td>Y902</td>
      <td>Goods other than those described in the OZ footnotes linked to the measure</td>
    </tr>
    <tr>
      <td>Y903</td>
      <td>Declared goods are not included in the list of cultural goods</td>
    </tr>
    <tr>
      <td>Y904</td>
      <td>Goods other than those described in the TR footnotes linked to the measure</td>
    </tr>
    <tr>
      <td>Y906</td>
      <td>Goods other than those described in the TR footnotes linked to the measure (708)</td>
    </tr>
    <tr>
      <td>Y907</td>
      <td>Goods that will be used by military or civil personnel of a Member State, if such personnel is taking part in an EU or UN peace keeping or crisis management operation in the third country of destination, or in an operation based on agreements between Member States and third countries in the field of defence</td>
    </tr>
    <tr>
      <td>Y908</td>
      <td>Export to the following territories of Member States (Greenland, New Caledonia and Dependencies, French Polynesia, French Southern and Antarctic Territories, Wallis and Futuna Islands, Mayotte, St Pierre and Miquelon, B&#xFC;singen), provided that the goods are used by an authority in charge of law enforcement in both the country or territory of destin</td>
    </tr>
    <tr>
      <td>Y909</td>
      <td>The declared goods are not concerned by Regulation (EC) No. 1984/2003 (and/or Reg. (EU) No. 640/2010).</td>
    </tr>
    <tr>
      <td>Y910</td>
      <td>Bigeye tuna taken by seiners or baitboats and intended mainly for the canning industry in the areas of application of the Agreement for the establishment of the Indian Ocean Tuna Commission (IOTC Agreement) and the ICCAT Convention.</td>
    </tr>
    <tr>
      <td>Y915</td>
      <td>Reference Identification Number</td>
    </tr>
    <tr>
      <td>Y916</td>
      <td>Product not subjected to the provisions of Regulation (EU) No 649/2012 on the export and import of dangerous chemicals, Annex I</td>
    </tr>
    <tr>
      <td>Y917</td>
      <td>Product not subjected to the provisions of Regulation (EU) No 649/2012 on the export and import of dangerous chemicals, Annex V</td>
    </tr>
    <tr>
      <td>Y918</td>
      <td>The declared goods are not concerned by Council Regulation (EC) No. 147/2003, Annex III</td>
    </tr>
    <tr>
      <td>Y919</td>
      <td>Reference Identification Number for chemicals subject to the provisions of Art. 2(3) of Regulation (EU) No 649/2012</td>
    </tr>
    <tr>
      <td>Y920</td>
      <td>Goods other than those described in the footnotes linked to the measure</td>
    </tr>
    <tr>
      <td>Y921</td>
      <td>Goods exempted from the prohibition</td>
    </tr>
    <tr>
      <td>Y922</td>
      <td>Other than cats and dogs fur as mentioned by Regulation (EC) No 1523/2007 (OJ L 343)</td>
    </tr>
    <tr>
      <td>Y923</td>
      <td>Product not subjected to the provisions of Regulation (EC) No 1013/2006 (OJ L 190)</td>
    </tr>
    <tr>
      <td>Y924</td>
      <td>Goods not concerned by Regulation (EU) 2017/852</td>
    </tr>
    <tr>
      <td>Y925</td>
      <td>Export for laboratory-scale research or laboratory analysis (Article 3 (3) of Regulation (EU) 2017/852)</td>
    </tr>
    <tr>
      <td>Y926</td>
      <td>Goods not concerned by import prohibition on fluorinated greenhouse gases</td>
    </tr>
    <tr>
      <td>Y927</td>
      <td>The declared goods are not concerned by Council Regulation (EC) No. 1005/2008</td>
    </tr>
    <tr>
      <td>Y929</td>
      <td>Goods not concerned by Regulation (EC) No 834/2007 (organic products)</td>
    </tr>
    <tr>
      <td>Y930</td>
      <td>The declared goods are not concerned by Commission Decision 2007/275/EC and Commission Implementing Regulation (EU) 2019/2007</td>
    </tr>
    <tr>
      <td>Y931</td>
      <td>Goods benefitting from derogation to veterinary controls according to Article 6.1b of Commission Decision (EC) No 275/2007</td>
    </tr>
    <tr>
      <td>Y932</td>
      <td>Goods benefitting from a derogation to CITES controls according to Article 7(3) of Council Regulation (EC) No 338/97</td>
    </tr>
    <tr>
      <td>Y934</td>
      <td>Product not subjected to the provisions of Regulation (EU) No 258/2012 for export of firearms, their parts and components and ammunition</td>
    </tr>
    <tr>
      <td>Y935</td>
      <td>Goods not covered by the provisions of Regulation (EU) 1332/2013 (OJ L 335)</td>
    </tr>
    <tr>
      <td>Y937</td>
      <td>The declared goods are not concerned by Commission Implementing Regulation (EU) 2019/1793</td>
    </tr>
    <tr>
      <td>Y939</td>
      <td>Goods not covered by the provisions of Regulation (EU) No 833/2014, Annex II</td>
    </tr>
    <tr>
      <td>Y942</td>
      <td>The declared goods are not concerned by Commission Implementing Regulation (EU) 2016/1141</td>
    </tr>
    <tr>
      <td>Y944</td>
      <td>Goods other than those described in Annex VI (Petroleum products) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y945</td>
      <td>Travellers' personal effects or goods of a non-commercial nature for travellers' personal use contained in their luggage (Art 10.2 of Regulation (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>Y946</td>
      <td>Goods necessary for the official purposes of diplomatic or consular missions of Member States in the DPRK or international organisations enjoying immunities in accordance with international law, or to the personal effects of their staff (Art 10.3 of Regulation (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>Y947</td>
      <td>Transaction authorised by the competent authority of the Member State for humanitarian purposes (Art 10.4 of Regulation (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>Y948</td>
      <td>Goods other than those described in Annex VIII (Luxury goods) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y949</td>
      <td>Goods other than those described in the footnotes linked to the measure (Reg 267/2012)</td>
    </tr>
    <tr>
      <td>Y950</td>
      <td>Goods other than pre-charged equipment with hydrofluorocarbons</td>
    </tr>
    <tr>
      <td>Y951</td>
      <td>Exemptions from the Reduction of the quantity of hydrofluorocarbons placed on the market by virtue of Article 15.2 of Regulation (EU) No 517/2014</td>
    </tr>
    <tr>
      <td>Y952</td>
      <td>Goods exempted from Article 2a, paragraph 1 of Council Regulation (EU) No 2016/44</td>
    </tr>
    <tr>
      <td>Y953</td>
      <td>Goods not concerned by Council Regulation (EU) No 2016/44 concerning restrictive measures in view of the situation in Libya</td>
    </tr>
    <tr>
      <td>Y955</td>
      <td>Goods other than those falling under the import prohibitions defined in article 7.2 of Regulation (EU) N&#xB0; 517/2014</td>
    </tr>
    <tr>
      <td>Y956</td>
      <td>Goods other than those falling under the reduction of the quantity of hydrofluorocarbons placed on the EU market defined in article 15 of Regulation (EU) N&#xB0; 517/2014</td>
    </tr>
    <tr>
      <td>Y957</td>
      <td>Goods other than those described in the MG footnotes linked to the measure (Annex II, Part V of Reg. (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>Y958</td>
      <td>Goods other than those described in Annex IV (Gold, titanium, vanadium ore, rare-earth minerals) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y959</td>
      <td>Goods other than those described in Annex V (Coal, iron and iron ore) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y960</td>
      <td>Goods other than those described in Annex VII (Copper, nickel, silver and zinc) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y961</td>
      <td>Goods other than those described in Annex IX (Gold, precious metals and diamonds) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y962</td>
      <td>Goods other than those described in Annex X (Statues) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y963</td>
      <td>Goods other than those described in the MG footnotes linked to the measure (Annex II, Part IV of Reg. (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>Y964</td>
      <td>Goods other than those described in Annex XIa (Seafood) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y965</td>
      <td>Goods other than those described in Annex XIb (Lead and lead ore) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y966</td>
      <td>Goods other than those described in the MG footnotes linked to the measure (Missile Technology Control Regime list - Annex III of Reg. (EU) 267/2012)</td>
    </tr>
    <tr>
      <td>Y967</td>
      <td>Goods other than those described in Annex XId (Refined petroleum products) of Reg. (EU) 2017/1509</td>
    </tr>
    <tr>
      <td>Y968</td>
      <td>Goods not exceeding a sales price of 50 &#x20AC; per litre</td>
    </tr>
    <tr>
      <td>Y969</td>
      <td>Mercury-added products essential for civil protection and military uses; or intended for research, calibration of instrumentation or for use as reference standard (Article 5 (2) of Regulation (EU) 2017/852)</td>
    </tr>
    <tr>
      <td>Y970</td>
      <td>Goods other than those described in the MG footnotes linked to the measure (Annex II, Part VI of Reg. (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>Y971</td>
      <td>Goods other than those described in the MG footnotes linked to the measure (Annex II, Part VIII of Reg. (EU) 2017/1509)</td>
    </tr>
    <tr>
      <td>Y976</td>
      <td>Goods other than those falling under the registration obligation defined in Article 1.2 of Regulation (EU) 1191/2014 as amended by Commission Implementing Regulation (EU) 2017/1375</td>
    </tr>
    <tr>
      <td>Y978</td>
      <td>Exemption by virtue paragraph 3 of Article 1 of Regulation (EU) 2019/1793</td>
    </tr>
    <tr>
      <td>Y980</td>
      <td>Goods benefitting from derogation to veterinary controls according to Article 4 of Commission Delegated Regulation (EU) 2019/2126</td>
    </tr>
    <tr>
      <td>Y981</td>
      <td>'Exemption by virtue of Article 1(5) of Regulation (EU) 2021/111 - last 3 subparagraphs: donation or resale, humanitarian emergency response, exports to facilities located on the continental shelf of a Member State or the exclusive economic zone declared by a Member State pursuant to UNCLOS'</td>
    </tr>
    <tr>
      <td>Y983</td>
      <td>The prohibitions defined in articles 2.1 and 4.1 of Council Regulation (EU) 2022/263 do not apply (see exemptions in articles 2.2 and 4.3)</td>
    </tr>
    <tr>
      <td>Y984</td>
      <td>Goods not originating from or not destined for the non-government controlled areas of Ukraine in the oblasts of Donetsk, Kherson, Luhansk and Zaporizhzhia</td>
    </tr>
    <tr>
      <td>Y986</td>
      <td>Exemption from import prohibition according to articles 11.1 and 11.2 of Regulation (EU) N&#xB0; 517/2014</td>
    </tr>
    <tr>
      <td>Y987</td>
      <td>The prohibitions defined in articles 2.1 and 2a.1 of Council Regulation (EU) No 833/2014 do not apply (see exemptions in articles 2.3 and 2a.3)</td>
    </tr>
    <tr>
      <td>Y988</td>
      <td>A proof that the product has been exported from the United States to the Union prior to 10.11.2020 ( Reg. 2020/1646)</td>
    </tr>
    <tr>
      <td>Y993</td>
      <td>The prohibitions defined in article 3b.1 of Council Regulation (EU) No 2014/833 do not apply (see contractual exemptions in article 3b.3)</td>
    </tr>
    <tr>
      <td>Y994</td>
      <td>The prohibitions defined in article 3c.1 of Council Regulation (EU) No 2014/833 do not apply (see contractual exemptions in article 3c.5)</td>
    </tr>
    <tr>
      <td>Y995</td>
      <td>Goods other than those concerned by the prohibitions defined in articles 2.1 and 2a.1 of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y996</td>
      <td>Goods other than those concerned by the prohibitions defined in article 3b.1 of Regulation (EU) No 833/2014</td>
    </tr>
    <tr>
      <td>Y997</td>
      <td>Goods not originating from or destined to Crimea or Sevastopol (Articles 2 and 2b.1 of Council Regulation (EU) No 692/2014)</td>
    </tr>
    <tr>
      <td>Y998</td>
      <td>There are no reasonable grounds to determine that the goods are to be used in Crimea or Sevastopol (Article 2b.3 of Council Regulation (EU) No 692/2014)</td>
    </tr>
    <tr>
      <td>ZZZ</td>
      <td>other</td>
    </tr>
  </tbody>
</table>
