# Language Code

<table>
  <thead>
    <tr>
      <th>Language Code</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AA</td>
      <td>Afar</td>
    </tr>
    <tr>
      <td>AB</td>
      <td>Abkhazian</td>
    </tr>
    <tr>
      <td>AE</td>
      <td>Avestan</td>
    </tr>
    <tr>
      <td>AF</td>
      <td>Afrikaans</td>
    </tr>
    <tr>
      <td>AK</td>
      <td>Akan</td>
    </tr>
    <tr>
      <td>AM</td>
      <td>Amharic</td>
    </tr>
    <tr>
      <td>AN</td>
      <td>Aragonese</td>
    </tr>
    <tr>
      <td>AR</td>
      <td>Arabic</td>
    </tr>
    <tr>
      <td>AS</td>
      <td>Assamese</td>
    </tr>
    <tr>
      <td>AV</td>
      <td>Avaric</td>
    </tr>
    <tr>
      <td>AY</td>
      <td>Aymara</td>
    </tr>
    <tr>
      <td>AZ</td>
      <td>Azerbajani</td>
    </tr>
    <tr>
      <td>BA</td>
      <td>Bashkir</td>
    </tr>
    <tr>
      <td>BE</td>
      <td>Byelorussian</td>
    </tr>
    <tr>
      <td>BG</td>
      <td>Bulgarian</td>
    </tr>
    <tr>
      <td>BH</td>
      <td>Bihari</td>
    </tr>
    <tr>
      <td>BI</td>
      <td>Bislama</td>
    </tr>
    <tr>
      <td>BM</td>
      <td>Bambara</td>
    </tr>
    <tr>
      <td>BN</td>
      <td>Bengali ; Bangla</td>
    </tr>
    <tr>
      <td>BO</td>
      <td>Tibetan</td>
    </tr>
    <tr>
      <td>BR</td>
      <td>Breton</td>
    </tr>
    <tr>
      <td>BS</td>
      <td>Bosnian</td>
    </tr>
    <tr>
      <td>CA</td>
      <td>Catalan</td>
    </tr>
    <tr>
      <td>CE</td>
      <td>Chechen</td>
    </tr>
    <tr>
      <td>CH</td>
      <td>Chamorro</td>
    </tr>
    <tr>
      <td>CO</td>
      <td>Corsican</td>
    </tr>
    <tr>
      <td>CR</td>
      <td>Cree</td>
    </tr>
    <tr>
      <td>CS</td>
      <td>Czech</td>
    </tr>
    <tr>
      <td>CU</td>
      <td>Church Slavic, Old Slavonic, </td>
    </tr>
    <tr>
      <td>CV</td>
      <td>Chuvash</td>
    </tr>
    <tr>
      <td>CY</td>
      <td>Welsh</td>
    </tr>
    <tr>
      <td>DA</td>
      <td>Danish</td>
    </tr>
    <tr>
      <td>DE</td>
      <td>German</td>
    </tr>
    <tr>
      <td>DV</td>
      <td>Divehi, Dhivehi, Maldivian</td>
    </tr>
    <tr>
      <td>DZ</td>
      <td>Bhutani</td>
    </tr>
    <tr>
      <td>EE</td>
      <td>Ewe</td>
    </tr>
    <tr>
      <td>EL</td>
      <td>Greek</td>
    </tr>
    <tr>
      <td>EN</td>
      <td>English</td>
    </tr>
    <tr>
      <td>EO</td>
      <td>Esperanto</td>
    </tr>
    <tr>
      <td>ES</td>
      <td>Spanish</td>
    </tr>
    <tr>
      <td>ET</td>
      <td>Estonian</td>
    </tr>
    <tr>
      <td>EU</td>
      <td>Basque</td>
    </tr>
    <tr>
      <td>FA</td>
      <td>Persian</td>
    </tr>
    <tr>
      <td>FF</td>
      <td>Fulah</td>
    </tr>
    <tr>
      <td>FI</td>
      <td>Finnish</td>
    </tr>
    <tr>
      <td>FJ</td>
      <td>Fiji</td>
    </tr>
    <tr>
      <td>FO</td>
      <td>Faroese</td>
    </tr>
    <tr>
      <td>FR</td>
      <td>French</td>
    </tr>
    <tr>
      <td>FY</td>
      <td>Frisian</td>
    </tr>
    <tr>
      <td>GA</td>
      <td>Irish</td>
    </tr>
    <tr>
      <td>GD</td>
      <td>Scots Gaelic</td>
    </tr>
    <tr>
      <td>GL</td>
      <td>Galician</td>
    </tr>
    <tr>
      <td>GN</td>
      <td>Guarani</td>
    </tr>
    <tr>
      <td>GR</td>
      <td>Greek (Latin character)</td>
    </tr>
    <tr>
      <td>GU</td>
      <td>Gujarati</td>
    </tr>
    <tr>
      <td>GV</td>
      <td>Manx</td>
    </tr>
    <tr>
      <td>HA</td>
      <td>Hausa</td>
    </tr>
    <tr>
      <td>HE</td>
      <td>Hebrew</td>
    </tr>
    <tr>
      <td>HI</td>
      <td>Hindi</td>
    </tr>
    <tr>
      <td>HO</td>
      <td>Hiri Motu</td>
    </tr>
    <tr>
      <td>HR</td>
      <td>Croatian</td>
    </tr>
    <tr>
      <td>HT</td>
      <td>Haitian, Haitian Creole</td>
    </tr>
    <tr>
      <td>HU</td>
      <td>Hungarian</td>
    </tr>
    <tr>
      <td>HY</td>
      <td>Armenian</td>
    </tr>
    <tr>
      <td>HZ</td>
      <td>Herero</td>
    </tr>
    <tr>
      <td>IA</td>
      <td>Interlingua</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>Indonesian</td>
    </tr>
    <tr>
      <td>IE</td>
      <td>Interlingue</td>
    </tr>
    <tr>
      <td>IG</td>
      <td>Igbo</td>
    </tr>
    <tr>
      <td>II</td>
      <td>Sichuan Yi, Nuosu</td>
    </tr>
    <tr>
      <td>IK</td>
      <td>Inupiak</td>
    </tr>
    <tr>
      <td>IN</td>
      <td>Indonesian</td>
    </tr>
    <tr>
      <td>IO</td>
      <td>Ido</td>
    </tr>
    <tr>
      <td>IS</td>
      <td>Icelandic</td>
    </tr>
    <tr>
      <td>IT</td>
      <td>Italian</td>
    </tr>
    <tr>
      <td>IU</td>
      <td>Inuktitut</td>
    </tr>
    <tr>
      <td>IW</td>
      <td>Hebrew</td>
    </tr>
    <tr>
      <td>JA</td>
      <td>Japanese</td>
    </tr>
    <tr>
      <td>JI</td>
      <td>Yiddish</td>
    </tr>
    <tr>
      <td>JV</td>
      <td>Javanese</td>
    </tr>
    <tr>
      <td>KA</td>
      <td>Georgian</td>
    </tr>
    <tr>
      <td>KG</td>
      <td>Kongo</td>
    </tr>
    <tr>
      <td>KI</td>
      <td>Kikuyu, Gikuyu</td>
    </tr>
    <tr>
      <td>KJ</td>
      <td>Kuanyama, Kwanyama</td>
    </tr>
    <tr>
      <td>KK</td>
      <td>Kazakh</td>
    </tr>
    <tr>
      <td>KL</td>
      <td>Greenlandic</td>
    </tr>
    <tr>
      <td>KM</td>
      <td>Cambodian</td>
    </tr>
    <tr>
      <td>KN</td>
      <td>Kannada</td>
    </tr>
    <tr>
      <td>KO</td>
      <td>Korean</td>
    </tr>
    <tr>
      <td>KR</td>
      <td>Kanuri</td>
    </tr>
    <tr>
      <td>KS</td>
      <td>Kashmiri</td>
    </tr>
    <tr>
      <td>KU</td>
      <td>Kurdish</td>
    </tr>
    <tr>
      <td>KV</td>
      <td>Komi</td>
    </tr>
    <tr>
      <td>KW</td>
      <td>Cornish</td>
    </tr>
    <tr>
      <td>KY</td>
      <td>Kirghiz</td>
    </tr>
    <tr>
      <td>LA</td>
      <td>Latin</td>
    </tr>
    <tr>
      <td>LB</td>
      <td>Luxembourgish, Letzeburgesch</td>
    </tr>
    <tr>
      <td>LG</td>
      <td>Ganda</td>
    </tr>
    <tr>
      <td>LI</td>
      <td>Limburgan, Limburger, Limburgish</td>
    </tr>
    <tr>
      <td>LN</td>
      <td>Lingala</td>
    </tr>
    <tr>
      <td>LO</td>
      <td>Laothian</td>
    </tr>
    <tr>
      <td>LT</td>
      <td>Lithuanian</td>
    </tr>
    <tr>
      <td>LU</td>
      <td>Luba-Katanga</td>
    </tr>
    <tr>
      <td>LV</td>
      <td>Latvian, Lettish</td>
    </tr>
    <tr>
      <td>MG</td>
      <td>Malagasy</td>
    </tr>
    <tr>
      <td>MH</td>
      <td>Marshallese</td>
    </tr>
    <tr>
      <td>MI</td>
      <td>Maori</td>
    </tr>
    <tr>
      <td>MK</td>
      <td>Macedonian</td>
    </tr>
    <tr>
      <td>ML</td>
      <td>Malayalam</td>
    </tr>
    <tr>
      <td>MN</td>
      <td>Mongolian</td>
    </tr>
    <tr>
      <td>MO</td>
      <td>Moldavian</td>
    </tr>
    <tr>
      <td>MR</td>
      <td>Marathi</td>
    </tr>
    <tr>
      <td>MS</td>
      <td>Malay</td>
    </tr>
    <tr>
      <td>MT</td>
      <td>Maltese</td>
    </tr>
    <tr>
      <td>MY</td>
      <td>Burmese</td>
    </tr>
    <tr>
      <td>NA</td>
      <td>Nauru</td>
    </tr>
    <tr>
      <td>NB</td>
      <td>Norwegian, bokm&#xE5;l</td>
    </tr>
    <tr>
      <td>ND</td>
      <td>North Ndebele</td>
    </tr>
    <tr>
      <td>NE</td>
      <td>Nepali</td>
    </tr>
    <tr>
      <td>NG</td>
      <td>Ndonga</td>
    </tr>
    <tr>
      <td>NL</td>
      <td>Dutch</td>
    </tr>
    <tr>
      <td>NN</td>
      <td>Norwegian, nynorsk</td>
    </tr>
    <tr>
      <td>NO</td>
      <td>Norwegian</td>
    </tr>
    <tr>
      <td>NR</td>
      <td>South Ndebele</td>
    </tr>
    <tr>
      <td>NV</td>
      <td>Navajo, Navaho</td>
    </tr>
    <tr>
      <td>NY</td>
      <td>Chichewa, Chewa, Nyanja</td>
    </tr>
    <tr>
      <td>OC</td>
      <td>Occitan</td>
    </tr>
    <tr>
      <td>OJ</td>
      <td>Ojibwa</td>
    </tr>
    <tr>
      <td>OM</td>
      <td>(Afan) Oromo</td>
    </tr>
    <tr>
      <td>OR</td>
      <td>Oriya</td>
    </tr>
    <tr>
      <td>OS</td>
      <td>Ossetian, Ossetic</td>
    </tr>
    <tr>
      <td>PA</td>
      <td>Punjabi</td>
    </tr>
    <tr>
      <td>PI</td>
      <td>Pali</td>
    </tr>
    <tr>
      <td>PL</td>
      <td>Polish</td>
    </tr>
    <tr>
      <td>PS</td>
      <td>Pashto, Pushto</td>
    </tr>
    <tr>
      <td>PT</td>
      <td>Portuguese</td>
    </tr>
    <tr>
      <td>QU</td>
      <td>Quetchua</td>
    </tr>
    <tr>
      <td>RM</td>
      <td>Rhaeto-Romance</td>
    </tr>
    <tr>
      <td>RN</td>
      <td>Kirundi</td>
    </tr>
    <tr>
      <td>RO</td>
      <td>Romanian</td>
    </tr>
    <tr>
      <td>RU</td>
      <td>Russian</td>
    </tr>
    <tr>
      <td>RW</td>
      <td>Kinyarwanda</td>
    </tr>
    <tr>
      <td>SA</td>
      <td>Sanskrit</td>
    </tr>
    <tr>
      <td>SC</td>
      <td>Sardinian</td>
    </tr>
    <tr>
      <td>SD</td>
      <td>Sindhi</td>
    </tr>
    <tr>
      <td>SE</td>
      <td>Northern Sami</td>
    </tr>
    <tr>
      <td>SG</td>
      <td>Sangho</td>
    </tr>
    <tr>
      <td>SH</td>
      <td>Serbo-Croatian</td>
    </tr>
    <tr>
      <td>SI</td>
      <td>Singhalese</td>
    </tr>
    <tr>
      <td>SK</td>
      <td>Slovak</td>
    </tr>
    <tr>
      <td>SL</td>
      <td>Slovenian</td>
    </tr>
    <tr>
      <td>SM</td>
      <td>Samoan</td>
    </tr>
    <tr>
      <td>SN</td>
      <td>Shona</td>
    </tr>
    <tr>
      <td>SO</td>
      <td>Somali</td>
    </tr>
    <tr>
      <td>SQ</td>
      <td>Albanian</td>
    </tr>
    <tr>
      <td>SR</td>
      <td>Serbian</td>
    </tr>
    <tr>
      <td>SS</td>
      <td>Siswati</td>
    </tr>
    <tr>
      <td>ST</td>
      <td>Sesotho</td>
    </tr>
    <tr>
      <td>SU</td>
      <td>Sundanese</td>
    </tr>
    <tr>
      <td>SV</td>
      <td>Swedish</td>
    </tr>
    <tr>
      <td>SW</td>
      <td>Swahili</td>
    </tr>
    <tr>
      <td>TA</td>
      <td>Tamil</td>
    </tr>
    <tr>
      <td>TE</td>
      <td>Telugu</td>
    </tr>
    <tr>
      <td>TG</td>
      <td>Tajik</td>
    </tr>
    <tr>
      <td>TH</td>
      <td>Thai</td>
    </tr>
    <tr>
      <td>TI</td>
      <td>Tigrinya</td>
    </tr>
    <tr>
      <td>TK</td>
      <td>Turkmen</td>
    </tr>
    <tr>
      <td>TL</td>
      <td>Tagalog</td>
    </tr>
    <tr>
      <td>TN</td>
      <td>Setswana</td>
    </tr>
    <tr>
      <td>TO</td>
      <td>Tonga</td>
    </tr>
    <tr>
      <td>TR</td>
      <td>Turkish</td>
    </tr>
    <tr>
      <td>TS</td>
      <td>Tsonga</td>
    </tr>
    <tr>
      <td>TT</td>
      <td>Tatar</td>
    </tr>
    <tr>
      <td>TW</td>
      <td>Twi</td>
    </tr>
    <tr>
      <td>TY</td>
      <td>Tahitian</td>
    </tr>
    <tr>
      <td>UG</td>
      <td>Uighur, Uyghur</td>
    </tr>
    <tr>
      <td>UK</td>
      <td>Ukrainian</td>
    </tr>
    <tr>
      <td>UR</td>
      <td>Urdu</td>
    </tr>
    <tr>
      <td>UZ</td>
      <td>Uzbek</td>
    </tr>
    <tr>
      <td>VE</td>
      <td>Venda</td>
    </tr>
    <tr>
      <td>VI</td>
      <td>Vietnamese</td>
    </tr>
    <tr>
      <td>VO</td>
      <td>Volap&#xFC;k</td>
    </tr>
    <tr>
      <td>WA</td>
      <td>Walloon</td>
    </tr>
    <tr>
      <td>WO</td>
      <td>Wolof</td>
    </tr>
    <tr>
      <td>XH</td>
      <td>Xhosa</td>
    </tr>
    <tr>
      <td>YI</td>
      <td>Yiddish</td>
    </tr>
    <tr>
      <td>YO</td>
      <td>Yoruba</td>
    </tr>
    <tr>
      <td>ZA</td>
      <td>Zhuang, Chuang</td>
    </tr>
    <tr>
      <td>ZH</td>
      <td>Chinese</td>
    </tr>
    <tr>
      <td>ZU</td>
      <td>Zulu</td>
    </tr>
  </tbody>
</table>
