# Method of Payment

<table>
  <thead>
    <tr>
      <th>Payment Code</th>
      <th>Method</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td>Payment in cash</td>
    </tr>
    <tr>
      <td>B</td>
      <td>Payment by credit card</td>
    </tr>
    <tr>
      <td>C</td>
      <td>Payment by cheque</td>
    </tr>
    <tr>
      <td>D</td>
      <td>Other</td>
    </tr>
    <tr>
      <td>H</td>
      <td>Electronic credit transfer</td>
    </tr>
    <tr>
      <td>Y</td>
      <td>Account holder with carrier</td>
    </tr>
    <tr>
      <td>Z</td>
      <td>Not pre-paid</td>
    </tr>
  </tbody>
</table>
