# Mode of Transport

<ul>
  <li>1 - Maritime</li>
  <li>2 - Rail</li>
  <li>3 - Road (Channel Tunnel &#x2013; Le Shuttle service)</li>
  <li>4 - Air (including fly trucks)</li>
  <li>8 - Inland water transport</li>
  <li>10 - Roll-on roll-off &#x2014; accompanied</li>
  <li>11 - Roll-on roll-off &#x2014; unaccompanied</li>
</ul>
