# Mode of Transport

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Mode of transport</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Maritime</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Rail</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Road (Channel Tunnel &#x2013; Le Shuttle service)</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Air (including fly trucks)</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Inland water transport</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Roll-on roll-off &#x2014; accompanied</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Roll-on roll-off &#x2014; unaccompanied</td>
    </tr>
  </tbody>
</table>
