# Specific Circumstance Indicator

<table>
  <thead>
    <tr>
      <th>Specific Circumstance Indicator</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td>Postal and express consignments</td>
    </tr>
    <tr>
      <td>C</td>
      <td>Road mode of transport</td>
    </tr>
    <tr>
      <td>D</td>
      <td>Rail mode of transport</td>
    </tr>
    <tr>
      <td>E</td>
      <td>Authorised economic operator</td>
    </tr>
  </tbody>
</table>
